workflows/n8n-paperless-telegram-webhook.json
{
  "name": "Paperless n8n Telegram Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "paperless-ai-custom-fields",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "WEBHOOK_NODE_ID",
      "name": "Webhook",
      "webhookId": "WEBHOOK_ID_PLACEHOLDER"
    },
    {
      "parameters": {
        "url": "={{ \"http://webserver:8000/api/documents/\" + $json.body.document_id + \"/\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token YOUR_PAPERLESS_API_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        176,
        0
      ],
      "id": "HTTP_REQUEST_NODE_ID",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=✅ Neues Dokument verarbeitet\n\nDokument-ID: {{$json.id}}\nTitel: {{$json.title}}\n\nDokumenttyp-ID: {{$json.document_type}}\nKorrespondent-ID: {{$json.correspondent}}\n\nPaperless:\nhttp://YOUR_PAPERLESS_HOST/documents/{{$json.id}}/details\n\nStatus:\nCustom Fields wurden automatisch befüllt.\n",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        0
      ],
      "id": "TELEGRAM_NODE_ID",
      "name": "Send Telegram Message",
      "webhookId": "TELEGRAM_WEBHOOK_ID_PLACEHOLDER",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_N8N_TELEGRAM_CREDENTIAL_ID",
          "name": "YOUR_N8N_TELEGRAM_CREDENTIAL_NAME"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "VERSION_ID_PLACEHOLDER",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "N8N_INSTANCE_ID_PLACEHOLDER"
  },
  "nodeGroups": [],
  "id": "WORKFLOW_ID_PLACEHOLDER",
  "tags": []
}