workflows/n8n-paperless-email-ki-ocr-imap-trigger.json
{
  "name": "paperless-email-ki-ocr",
  "nodes": [
    {
      "parameters": {
        "downloadAttachments": true,
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "EMAIL_TRIGGER_IMAP_NODE_ID",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "YOUR_N8N_IMAP_CREDENTIAL_ID",
          "name": "YOUR_N8N_IMAP_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "HAS_ATTACHMENT_CONDITION_ID_PLACEHOLDER",
              "leftValue": "={{ $binary.attachment_0 !== undefined }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "HAS_ATTACHMENT_IF_NODE_ID",
      "name": "Hat Anhang?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "IS_PDF_CONDITION_ID_PLACEHOLDER",
              "leftValue": "={{ $binary.attachment_0.mimeType }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        432,
        -16
      ],
      "id": "IS_PDF_IF_NODE_ID",
      "name": "Ist PDF?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "FILE_SIZE_CONDITION_ID_PLACEHOLDER",
              "leftValue": "={{ $binary.attachment_0.fileSize.includes('kB') || ($binary.attachment_0.fileSize.includes('MB') && parseFloat($binary.attachment_0.fileSize) < 20) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        656,
        -32
      ],
      "id": "FILE_SIZE_IF_NODE_ID",
      "name": "Dateigröße okay?"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=✅ Neue E-Mail für Paperless-n8n-Test erkannt\n\nBetreff: {{$json.subject}}\nAbsender: {{$json.from?.text || $json.from}}\nDateiname: {{$binary.attachment_0.fileName}}\nDateityp: {{$binary.attachment_0.mimeType}}\nDateigröße: {{$binary.attachment_0.fileSize}}\n\nStatus: PDF-Anhang wurde erfolgreich erkannt.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        -48
      ],
      "id": "TELEGRAM_NOTIFICATION_NODE_ID",
      "name": "Send Telegram Message",
      "webhookId": "TELEGRAM_WEBHOOK_ID_PLACEHOLDER",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_N8N_TELEGRAM_CREDENTIAL_ID",
          "name": "YOUR_N8N_TELEGRAM_CREDENTIAL_NAME"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Hat Anhang?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hat Anhang?": {
      "main": [
        [
          {
            "node": "Ist PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ist PDF?": {
      "main": [
        [
          {
            "node": "Dateigröße okay?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dateigröße okay?": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "VERSION_ID_PLACEHOLDER",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "N8N_INSTANCE_ID_PLACEHOLDER"
  },
  "nodeGroups": [],
  "id": "WORKFLOW_ID_PLACEHOLDER",
  "tags": []
}