workflows/n8n-paperless-telegram-webhook.json
{
  "name": "Paperless n8n Telegram Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "paperless-ai-custom-fields",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "WEBHOOK_NODE_ID",
      "name": "Webhook",
      "webhookId": "WEBHOOK_ID_PLACEHOLDER"
    },
    {
      "parameters": {
        "url": "={{ \"http://webserver:8000/api/documents/\" + $json.body.document_id + \"/\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token YOUR_PAPERLESS_API_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        176,
        0
      ],
      "id": "DOCUMENT_REQUEST_NODE_ID",
      "name": "Dokument holen"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "IF_CONDITION_ID_PLACEHOLDER",
              "leftValue": "={{ $json.correspondent ? $json.correspondent.toString() : \"\" }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        368,
        0
      ],
      "id": "IF_NODE_ID",
      "name": "If"
    },
    {
      "parameters": {
        "url": "={{ \"http://webserver:8000/api/correspondents/\" + $json.correspondent + \"/\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token YOUR_PAPERLESS_API_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        544,
        -80
      ],
      "id": "CORRESPONDENT_REQUEST_NODE_ID",
      "name": "Korrespondent holen"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=✅ Neues Dokument verarbeitet\n\nDokument-ID: {{$node[\"Dokument holen\"].json.id}}\nTitel: {{$node[\"Dokument holen\"].json.title}}\n\nDokumenttyp-ID: {{$node[\"Dokument holen\"].json.document_type || \"nicht gesetzt\"}}\nKorrespondent: {{$json.name || \"nicht gesetzt\"}}\n\nPaperless:\nhttp://YOUR_PAPERLESS_HOST/documents/{{$node[\"Dokument holen\"].json.id}}/details\n\nStatus:\nCustom Fields wurden automatisch befüllt.",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        80
      ],
      "id": "TELEGRAM_NODE_ID",
      "name": "Send Telegram Message",
      "webhookId": "TELEGRAM_WEBHOOK_ID_PLACEHOLDER",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_N8N_TELEGRAM_CREDENTIAL_ID",
          "name": "YOUR_N8N_TELEGRAM_CREDENTIAL_NAME"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dokument holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dokument holen": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Korrespondent holen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Korrespondent holen": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "VERSION_ID_PLACEHOLDER",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "N8N_INSTANCE_ID_PLACEHOLDER"
  },
  "nodeGroups": [],
  "id": "WORKFLOW_ID_PLACEHOLDER",
  "tags": []
}