workflows/paperless-workflow-ki-ocr.json
{
  "name": "paperless-workflow-ki-ocr",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "paperless-ki-ocr",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        4224,
        1392
      ],
      "id": "NODE_ID_WEBHOOK_PLACEHOLDER",
      "name": "Webhook",
      "webhookId": "WEBHOOK_ID_WEBHOOK_PLACEHOLDER"
    },
    {
      "parameters": {
        "jsCode": "const payload =\n  typeof $json.body === 'string'\n    ? JSON.parse($json.body)\n    : $json.body;\n\nconst match = payload.doc_url.match(/\\/documents\\/(\\d+)\\/?/);\n\nif (!match) {\n  throw new Error('Dokument-ID wurde in doc_url nicht gefunden');\n}\n\nreturn [{\n  json: {\n    ...payload,\n    document_id: Number(match[1]),\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4384,
        1392
      ],
      "id": "NODE_ID_EXTRACT_ID_PLACEHOLDER",
      "name": "Extract ID"
    },
    {
      "parameters": {
        "url": "=http://YOUR_PAPERLESS_HOST:8000/api/documents/{{$json.document_id}}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4544,
        1392
      ],
      "id": "NODE_ID_DOKUMENTDATEN_HOLEN_PLACEHOLDER",
      "name": "Dokumentdaten holen",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_N8N_PAPERLESS_HEADER_AUTH_CREDENTIAL_ID",
          "name": "YOUR_N8N_PAPERLESS_HEADER_AUTH_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://YOUR_PAPERLESS_HOST:8000/api/documents/{{$json.id}}/download/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5104,
        1472
      ],
      "id": "NODE_ID_DATEI_LADEN_PLACEHOLDER",
      "name": "Datei laden",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_N8N_PAPERLESS_HEADER_AUTH_CREDENTIAL_ID",
          "name": "YOUR_N8N_PAPERLESS_HEADER_AUTH_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5328,
        1392
      ],
      "id": "NODE_ID_DOKUMENTDATEN_UND_DATEI_ZUSAMMENFUEHREN_PLACEHOLDER",
      "name": "Dokumentdaten und Datei zusammenführen"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/files/tmp/paperless-ki-ocr-{{$json.id}}.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        5520,
        1392
      ],
      "id": "NODE_ID_PDF_TEMPORAER_SPEICHERN_PLACEHOLDER",
      "name": "PDF temporär speichern"
    },
    {
      "parameters": {
        "command": "=set -eu\n\nDOC_ID=\"{{ $json.id }}\"\nPDF=\"/files/tmp/paperless-ki-ocr-${DOC_ID}.pdf\"\nDIR=\"/files/tmp/paperless-ki-ocr-${DOC_ID}\"\n\ntest -f \"$PDF\"\n\nrm -rf \"$DIR\"\nmkdir -p \"$DIR\"\n\npdftoppm \\\n  -png \\\n  -r 150 \\\n  \"$PDF\" \\\n  \"$DIR/page\"\n\nPAGE_COUNT=\"$(find \"$DIR\" -maxdepth 1 -type f -name 'page-*.png' | wc -l | tr -d ' ')\"\n\ntest \"$PAGE_COUNT\" -gt 0\n\nprintf 'document_id=%s\\npage_count=%s\\ndirectory=%s\\n' \\\n  \"$DOC_ID\" \\\n  \"$PAGE_COUNT\" \\\n  \"$DIR\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        5696,
        1392
      ],
      "id": "NODE_ID_PDF_IN_PNG_SEITEN_UMWANDELN_PLACEHOLDER",
      "name": "PDF in PNG-Seiten umwandeln"
    },
    {
      "parameters": {
        "fileSelector": "={{ '/files/tmp/paperless-ki-ocr-' + $('Dokumentdaten und Datei zusammenführen').first().json.id + '/page-*.png' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        5856,
        1392
      ],
      "id": "NODE_ID_PNG_SEITEN_LADEN_PLACEHOLDER",
      "name": "PNG-Seiten laden"
    },
    {
      "parameters": {
        "jsCode": "const document =\n  $('Dokumentdaten und Datei zusammenführen').first().json;\n\nreturn $input.all().map((item, index) => {\n  const fileName =\n    item.binary?.data?.fileName ??\n    `page-${index + 1}.png`;\n\n  const match = fileName.match(/page-(\\d+)\\.png$/i);\n\n  return {\n    json: {\n      document_id: document.id,\n      title: document.title ?? '',\n      original_file_name:\n        document.original_file_name ??\n        document.filename ??\n        '',\n\n      original_content:\n        document.content ?? '',\n\n      original_custom_fields:\n        Array.isArray(document.custom_fields)\n          ? document.custom_fields\n          : [],\n\n      page_number:\n        match\n          ? Number(match[1])\n          : index + 1,\n\n      page_file_name: fileName,\n    },\n\n    binary: item.binary,\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6016,
        1392
      ],
      "id": "NODE_ID_SEITENMETADATEN_ERGAENZEN_PLACEHOLDER",
      "name": "Seitenmetadaten ergänzen"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "page_number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        6176,
        1392
      ],
      "id": "NODE_ID_SEITEN_SORTIEREN_PLACEHOLDER",
      "name": "Seiten sortieren"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        6368,
        1392
      ],
      "id": "NODE_ID_SEITEN_EINZELN_VERARBEITEN_PLACEHOLDER",
      "name": "Seiten einzeln verarbeiten"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "image_base64",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        6560,
        1520
      ],
      "id": "NODE_ID_SEITENBILD_ZU_BASE64_PLACEHOLDER",
      "name": "Seitenbild zu Base64"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const page =\n  $('Seiten einzeln verarbeiten').item.json;\n\nreturn {\n  json: {\n    ...page,\n    image_base64: $json.image_base64,\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6752,
        1520
      ],
      "id": "NODE_ID_BASE64_METADATEN_ERGAENZEN_PLACEHOLDER",
      "name": "Base64-Metadaten ergänzen"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_OLLAMA_HOST:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  model: 'glm-ocr',\n  stream: false,\n\n  // Ollama soll eine gültige JSON-Antwort erzeugen.\n  format: 'json',\n\n  keep_alive: 0,\n\n  options: {\n    temperature: 0,\n    num_ctx: 8192,\n\n    // Genügend Platz für umfangreichere Tabellen.\n    num_predict: 1024,\n\n    // Verringert unnötige Wiederholungen.\n    repeat_penalty: 1.15\n  },\n\n  messages: [\n    {\n      role: 'user',\n\n      content: `Analysiere diese einzelne Dokumentseite.\n\nDeine Aufgabe ist die Texterkennung sowie die Erkennung von Tabellen und Dokumentstruktur.\n\nErkenne:\n1. den vollständigen sichtbaren Text,\n2. handschriftlichen und gedruckten Text,\n3. Überschriften,\n4. Absätze,\n5. Listen,\n6. Tabellen einschließlich aller lesbaren Zellen,\n7. die Dokumentstruktur.\n\nWichtige Regeln:\n- Gib genau ein einziges gültiges JSON-Objekt zurück.\n- Wiederhole das JSON-Objekt nicht.\n- Schreibe keinen Text vor oder nach dem JSON.\n- Verwende keine Markdown-Codeblöcke um das JSON.\n- Alle JSON-Strings müssen gültig formatiert sein.\n- Verwende Backslashes nur für gültige JSON-Escapes.\n- Verwende keine LaTeX-Befehle.\n- Verwende keine Konstruktionen wie \\\\xBullet, \\\\O oder \\\\circ.\n- Schreibe geometrische Formen und alleinstehende grafische Symbole nicht in \"text_markdown\".\n- Ersetze grafische Symbole nicht durch erfundene Zeichen.\n- Symbole, Formen, Bilder und deren visuelle Bedeutung werden separat durch Qwen analysiert.\n- Lesbarer handschriftlicher Text muss trotzdem vollständig transkribiert werden.\n- Schreibe normalen erkannten Text als Klartext oder Markdown.\n- Markiere tatsächlich unlesbare Wörter mit [unlesbar].\n- Erfinde keine Inhalte.\n\nRegeln für Tabellen:\n- Gib jede erkannte Tabelle als vollständige Markdown-Tabelle in \"tables_markdown\" zurück.\n- Jede Tabelle ist ein eigener String innerhalb des Arrays.\n- Erhalte Zeilen, Spalten und Zellinhalte möglichst genau.\n- Wiederhole den vollständigen Tabelleninhalt nicht zusätzlich in \"text_markdown\".\n- Wenn keine Tabelle vorhanden ist, verwende ein leeres Array.\n- Wenn die Tabellenstruktur unsicher ist, rekonstruiere sie bestmöglich und ergänze einen Hinweis in \"warnings\".\n\nAntwortstruktur:\n\n{\n  \"text_markdown\": \"erkannter Text außerhalb der Tabellen\",\n  \"tables_markdown\": [\n    \"vollständige Markdown-Tabelle\"\n  ],\n  \"document_structure\": [\n    \"erkannte Strukturelemente\"\n  ],\n  \"figures\": [],\n  \"warnings\": []\n}`,\n\n      images: [\n        $json.image_base64\n      ]\n    }\n  ]\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 900000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6944,
        1520
      ],
      "id": "NODE_ID_GLM_OCR_SEITE_ANALYSIEREN_PLACEHOLDER",
      "name": "GLM-OCR Seite analysieren"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ASSIGNMENT_ID_GLM_ERGEBNIS_VORBEREITEN_DOCUMENT_ID_1_PLACEHOLDER",
              "name": "document_id",
              "value": "={{ $('Base64-Metadaten ergänzen').item.json.document_id }}",
              "type": "number"
            },
            {
              "id": "ASSIGNMENT_ID_GLM_ERGEBNIS_VORBEREITEN_TITLE_2_PLACEHOLDER",
              "name": "title",
              "value": "={{ $('Base64-Metadaten ergänzen').item.json.title }}",
              "type": "string"
            },
            {
              "id": "ASSIGNMENT_ID_GLM_ERGEBNIS_VORBEREITEN_ORIGINAL_FILE_NAME_3_PLACEHOLDER",
              "name": "original_file_name",
              "value": "={{ $('Base64-Metadaten ergänzen').item.json.original_file_name }}",
              "type": "string"
            },
            {
              "id": "ASSIGNMENT_ID_GLM_ERGEBNIS_VORBEREITEN_ORIGINAL_CONTENT_4_PLACEHOLDER",
              "name": "original_content",
              "value": "={{ $('Base64-Metadaten ergänzen').item.json.original_content }}",
              "type": "string"
            },
            {
              "id": "ASSIGNMENT_ID_GLM_ERGEBNIS_VORBEREITEN_ORIGINAL_CUSTOM_FIELDS_5_PLACEHOLDER",
              "name": "original_custom_fields",
              "value": "={{ $('Base64-Metadaten ergänzen').item.json.original_custom_fields }}",
              "type": "array"
            },
            {
              "id": "ASSIGNMENT_ID_GLM_ERGEBNIS_VORBEREITEN_PAGE_NUMBER_6_PLACEHOLDER",
              "name": "page_number",
              "value": "={{ $('Base64-Metadaten ergänzen').item.json.page_number }}",
              "type": "number"
            },
            {
              "id": "ASSIGNMENT_ID_GLM_ERGEBNIS_VORBEREITEN_PAGE_FILE_NAME_7_PLACEHOLDER",
              "name": "page_file_name",
              "value": "={{ $('Base64-Metadaten ergänzen').item.json.page_file_name }}",
              "type": "string"
            },
            {
              "id": "ASSIGNMENT_ID_GLM_ERGEBNIS_VORBEREITEN_IMAGE_BASE64_8_PLACEHOLDER",
              "name": "image_base64",
              "value": "={{ $('Base64-Metadaten ergänzen').item.json.image_base64 }}",
              "type": "string"
            },
            {
              "id": "ASSIGNMENT_ID_GLM_ERGEBNIS_VORBEREITEN_GLM_RAW_9_PLACEHOLDER",
              "name": "glm_raw",
              "value": "={{ $json.message?.content ?? '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7120,
        1520
      ],
      "id": "NODE_ID_GLM_ERGEBNIS_VORBEREITEN_PLACEHOLDER",
      "name": "GLM-Ergebnis vorbereiten"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "/**\n * Extrahiert einzelne vollständige JSON-Objekte.\n */\nfunction extractJsonObjects(text) {\n  const results = [];\n\n  let start = -1;\n  let depth = 0;\n  let inString = false;\n  let escaped = false;\n\n  for (let index = 0; index < text.length; index++) {\n    const char = text[index];\n\n    if (inString) {\n      if (escaped) {\n        escaped = false;\n        continue;\n      }\n\n      if (char === '\\\\') {\n        escaped = true;\n        continue;\n      }\n\n      if (char === '\"') {\n        inString = false;\n      }\n\n      continue;\n    }\n\n    if (char === '\"') {\n      inString = true;\n      continue;\n    }\n\n    if (char === '{') {\n      if (depth === 0) {\n        start = index;\n      }\n\n      depth++;\n      continue;\n    }\n\n    if (char === '}') {\n      depth--;\n\n      if (\n        depth === 0 &&\n        start >= 0\n      ) {\n        results.push(\n          text.slice(\n            start,\n            index + 1\n          )\n        );\n\n        start = -1;\n      }\n    }\n  }\n\n  return results;\n}\n\n/**\n * Repariert ungültige Backslashes in Modellantworten.\n */\nfunction repairInvalidJsonEscapes(value) {\n  return value.replace(\n    /\\\\(?![\"\\\\/bfnrtu])/g,\n    '\\\\\\\\'\n  );\n}\n\nfunction parseModelResult(value) {\n  const raw =\n    String(value ?? '').trim();\n\n  const cleaned = raw\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/\\s*```$/i, '')\n    .trim();\n\n  const candidates = [];\n\n  /*\n   * Zuerst jeden einzelnen Markdown-Codeblock prüfen.\n   * So wird bei mehrfach ausgegebenem JSON nur ein Block\n   * verwendet.\n   */\n  const fencedPattern =\n    /```(?:json)?\\s*([\\s\\S]*?)```/gi;\n\n  for (\n    const match of raw.matchAll(\n      fencedPattern\n    )\n  ) {\n    if (match[1]?.trim()) {\n      candidates.push(\n        match[1].trim()\n      );\n    }\n  }\n\n  /*\n   * Danach einzelne vollständige JSON-Objekte suchen.\n   */\n  candidates.push(\n    ...extractJsonObjects(cleaned)\n  );\n\n  /*\n   * Zum Schluss den gesamten bereinigten Inhalt prüfen.\n   */\n  candidates.push(cleaned);\n\n  const checked = new Set();\n\n  for (const candidate of candidates) {\n    const trimmed =\n      String(candidate ?? '').trim();\n\n    if (\n      !trimmed ||\n      checked.has(trimmed)\n    ) {\n      continue;\n    }\n\n    checked.add(trimmed);\n\n    const variants = [\n      trimmed,\n      repairInvalidJsonEscapes(trimmed),\n    ];\n\n    for (const variant of variants) {\n      try {\n        const parsed =\n          JSON.parse(variant);\n\n        return {\n          parsed: true,\n          data: parsed,\n          raw,\n        };\n      } catch {\n        // Nächste Variante prüfen.\n      }\n    }\n  }\n\n  return {\n    parsed: false,\n    data: {},\n    raw,\n  };\n}\n\nconst glmInput =\n  $('GLM-Ergebnis vorbereiten').item.json;\n\nconst glm =\n  parseModelResult(\n    glmInput.glm_raw\n  );\n\nconst qwen =\n  parseModelResult(\n    $json.message?.content\n  );\n\nreturn {\n  json: {\n    document_id:\n      glmInput.document_id,\n\n    title:\n      glmInput.title,\n\n    original_file_name:\n      glmInput.original_file_name,\n\n    original_content:\n      glmInput.original_content,\n\n    original_custom_fields:\n      glmInput.original_custom_fields,\n\n    page_number:\n      glmInput.page_number,\n\n    page_file_name:\n      glmInput.page_file_name,\n\n    glm_parsed:\n      glm.parsed,\n\n    glm:\n      glm.data,\n\n    // Nur für Fehlersuche behalten.\n    glm_raw:\n      glm.raw,\n\n    qwen_parsed:\n      qwen.parsed,\n\n    qwen:\n      qwen.data,\n\n    // Nur für Fehlersuche behalten.\n    qwen_raw:\n      qwen.raw,\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7472,
        1520
      ],
      "id": "NODE_ID_SEITENERGEBNIS_NORMALISIEREN_PLACEHOLDER",
      "name": "Seitenergebnis normalisieren"
    },
    {
      "parameters": {
        "jsCode": "const pages = $input\n  .all()\n  .map(item => item.json)\n  .sort(\n    (a, b) =>\n      Number(a.page_number) -\n      Number(b.page_number)\n  );\n\nfunction toArray(value) {\n  return Array.isArray(value)\n    ? value.filter(value =>\n        value !== null &&\n        value !== undefined &&\n        String(value).trim() !== ''\n      )\n    : [];\n}\n\n/**\n * Bei einer erneuten Verarbeitung wird nur der tatsächlich\n * ursprüngliche Paperless-OCR-Inhalt übernommen.\n */\nfunction extractOriginalPaperlessContent(content) {\n  const value = String(content ?? '').trim();\n\n  const marker =\n    '=== Ursprünglicher Paperless-OCR-Inhalt ===';\n\n  if (!value.includes(marker)) {\n    return value;\n  }\n\n  return value\n    .split(marker)\n    .slice(1)\n    .join(marker)\n    .trim();\n}\n\n/**\n * Fallback für Modellantworten, die trotz des neuen Prompts\n * nur ein Symbol oder Emoji als String zurückgeben.\n */\nconst symbolNames = {\n  '❤️': 'Herz',\n  '❤': 'Herz',\n  '♥': 'Herz',\n  '♡': 'Herz',\n\n  '△': 'Dreieck',\n  '▲': 'Dreieck',\n  '▽': 'Dreieck',\n  '▼': 'Dreieck',\n\n  '□': 'Quadrat',\n  '■': 'Quadrat',\n  '□×': 'Quadrat mit Kreuz',\n  '☒': 'Quadrat mit Kreuz',\n  '⊠': 'Quadrat mit Kreuz',\n\n  '○': 'Kreis',\n  '◯': 'Kreis',\n  '●': 'Kreis',\n\n  '×': 'Kreuz',\n  '✕': 'Kreuz',\n  '✖': 'Kreuz',\n\n  '✓': 'Häkchen',\n  '✔': 'Häkchen',\n\n  '→': 'Pfeil nach rechts',\n  '←': 'Pfeil nach links',\n  '↑': 'Pfeil nach oben',\n  '↓': 'Pfeil nach unten',\n};\n\n/**\n * Wandelt alte String-Antworten und neue Objekt-Antworten\n * in eine gemeinsame Struktur um.\n */\nfunction normalizeVisualItem(value, fallbackType) {\n  if (\n    value === null ||\n    value === undefined\n  ) {\n    return null;\n  }\n\n  if (typeof value === 'string') {\n    const raw = value.trim();\n\n    if (!raw) {\n      return null;\n    }\n\n    return {\n      type: fallbackType,\n      label:\n        symbolNames[raw] ??\n        raw,\n      symbol:\n        symbolNames[raw]\n          ? raw\n          : '',\n      text: '',\n      description: '',\n    };\n  }\n\n  if (typeof value === 'object') {\n    return {\n      type:\n        String(\n          value.type ??\n          fallbackType\n        ).trim(),\n\n      label:\n        String(\n          value.label ??\n          value.name ??\n          ''\n        ).trim(),\n\n      symbol:\n        String(\n          value.symbol ??\n          value.emoji ??\n          value.glyph ??\n          ''\n        ).trim(),\n\n      text:\n        String(\n          value.text ??\n          value.transcription ??\n          ''\n        ).trim(),\n\n      description:\n        String(\n          value.description ??\n          value.details ??\n          ''\n        ).trim(),\n    };\n  }\n\n  return null;\n}\n\nfunction formatSymbol(item) {\n  const label =\n    item.label ||\n    symbolNames[item.symbol] ||\n    'Unbekanntes Symbol';\n\n  const parts = [label];\n\n  if (item.symbol) {\n    parts.push(`(Symbol: ${item.symbol})`);\n  }\n\n  if (item.description) {\n    parts.push(`– ${item.description}`);\n  }\n\n  return parts.join(' ');\n}\n\nfunction formatHandwriting(item) {\n  const text =\n    item.text ||\n    item.label ||\n    item.description;\n\n  if (!text) {\n    return null;\n  }\n\n  return `${text} (handgeschriebener Text)`;\n}\n\nfunction formatVisualObject(item, typeLabel) {\n  const mainText =\n    item.label ||\n    item.text ||\n    typeLabel;\n\n  const details = [];\n\n  if (\n    item.text &&\n    item.text !== mainText\n  ) {\n    details.push(`Text: ${item.text}`);\n  }\n\n  if (item.description) {\n    details.push(item.description);\n  }\n\n  if (item.symbol) {\n    details.push(`Symbol: ${item.symbol}`);\n  }\n\n  if (details.length === 0) {\n    return `${mainText} (${typeLabel})`;\n  }\n\n  return (\n    `${mainText} (${typeLabel}: ` +\n    `${details.join('; ')})`\n  );\n}\n\nconst textParts = [];\nconst tables = [];\nconst documentStructures = [];\n\n/**\n * Hier werden die neuen suchbaren visuellen Beschreibungen\n * pro Seite gesammelt.\n */\nconst searchableVisualSections = [];\n\nconst warnings = [];\n\nfor (const page of pages) {\n  const glmText =\n    page.glm?.text_markdown ||\n    page.glm?.text ||\n    (!page.glm_parsed\n      ? page.glm_raw\n      : '');\n\n  if (String(glmText ?? '').trim()) {\n    textParts.push(\n      `## Seite ${page.page_number}\\n\\n` +\n      String(glmText).trim()\n    );\n  }\n\n  for (\n    const table of toArray(\n      page.glm?.tables_markdown\n    )\n  ) {\n    tables.push(\n      `### Tabelle auf Seite ${page.page_number}\\n\\n` +\n      String(table).trim()\n    );\n  }\n\n  const structures =\n    toArray(\n      page.glm?.document_structure\n    );\n\n  if (structures.length > 0) {\n    documentStructures.push(\n      `### Struktur auf Seite ${page.page_number}\\n\\n` +\n      structures\n        .map(value => `- ${value}`)\n        .join('\\n')\n    );\n  }\n\n  const pageVisualEntries = [];\n\n  /*\n   * Symbole und geometrische Formen\n   */\n  for (\n    const rawSymbol of toArray(\n      page.qwen?.symbols\n    )\n  ) {\n    const item =\n      normalizeVisualItem(\n        rawSymbol,\n        'symbol'\n      );\n\n    if (!item) {\n      continue;\n    }\n\n    pageVisualEntries.push(\n      formatSymbol(item)\n    );\n  }\n\n  /*\n   * Handschriftliche Texte\n   */\n  for (\n    const rawHandwriting of toArray(\n      page.qwen?.handwriting\n    )\n  ) {\n    const item =\n      normalizeVisualItem(\n        rawHandwriting,\n        'handwriting'\n      );\n\n    if (!item) {\n      continue;\n    }\n\n    const formatted =\n      formatHandwriting(item);\n\n    if (formatted) {\n      pageVisualEntries.push(formatted);\n    }\n  }\n\n  /*\n   * Stempel\n   */\n  for (\n    const rawStamp of toArray(\n      page.qwen?.stamps\n    )\n  ) {\n    const item =\n      normalizeVisualItem(\n        rawStamp,\n        'stamp'\n      );\n\n    if (!item) {\n      continue;\n    }\n\n    pageVisualEntries.push(\n      formatVisualObject(\n        item,\n        'Stempel'\n      )\n    );\n  }\n\n  /*\n   * Unterschriften\n   */\n  for (\n    const rawSignature of toArray(\n      page.qwen?.signatures\n    )\n  ) {\n    const item =\n      normalizeVisualItem(\n        rawSignature,\n        'signature'\n      );\n\n    if (!item) {\n      continue;\n    }\n\n    pageVisualEntries.push(\n      formatVisualObject(\n        item,\n        'Unterschrift'\n      )\n    );\n  }\n\n  /*\n   * Bilder, Fotos, Diagramme und Abbildungen\n   */\n  for (\n    const rawImage of toArray(\n      page.qwen?.images\n    )\n  ) {\n    const item =\n      normalizeVisualItem(\n        rawImage,\n        'image'\n      );\n\n    if (!item) {\n      continue;\n    }\n\n    pageVisualEntries.push(\n      formatVisualObject(\n        item,\n        'Bild oder Abbildung'\n      )\n    );\n  }\n\n  /*\n   * Sonstige visuelle Hinweise\n   */\n  for (\n    const rawNote of toArray(\n      page.qwen?.visual_notes\n    )\n  ) {\n    const item =\n      normalizeVisualItem(\n        rawNote,\n        'visual_note'\n      );\n\n    if (!item) {\n      continue;\n    }\n\n    pageVisualEntries.push(\n      formatVisualObject(\n        item,\n        'visueller Hinweis'\n      )\n    );\n  }\n\n  if (pageVisualEntries.length > 0) {\n    searchableVisualSections.push(\n      `## Seite ${page.page_number}\\n\\n` +\n      pageVisualEntries\n        .map(\n          (value, index) =>\n            `${index + 1}. ${value}`\n        )\n        .join('\\n\\n')\n    );\n  }\n\n  warnings.push(\n    ...toArray(page.glm?.warnings),\n    ...toArray(page.qwen?.warnings)\n  );\n}\n\nconst aiSections = [];\n\nif (textParts.length > 0) {\n  aiSections.push(\n    `# Dokumenttext\\n\\n` +\n    textParts.join('\\n\\n')\n  );\n}\n\nif (tables.length > 0) {\n  aiSections.push(\n    `# Tabellen\\n\\n` +\n    tables.join('\\n\\n')\n  );\n}\n\nif (documentStructures.length > 0) {\n  aiSections.push(\n    `# Dokumentstruktur\\n\\n` +\n    documentStructures.join('\\n\\n')\n  );\n}\n\nif (searchableVisualSections.length > 0) {\n  aiSections.push(\n    `# Erkannte Symbole, visuelle Elemente und handgeschriebene Texte\\n\\n` +\n    searchableVisualSections.join('\\n\\n')\n  );\n}\n\n// Ausschließlich neu erzeugter KI-/Vision-Inhalt.\nconst aiContent =\n  aiSections.join('\\n\\n').trim();\n\n// Tatsächlich ursprünglicher Paperless-OCR-Inhalt.\nconst originalPaperlessContent =\n  extractOriginalPaperlessContent(\n    pages[0]?.original_content\n  );\n\nconst originalSection =\n  originalPaperlessContent ||\n  '[Kein ursprünglicher Paperless-OCR-Inhalt vorhanden]';\n\n// Dieser Inhalt wird später nach Paperless geschrieben.\nconst combinedPaperlessContent = [\n  '=== KI-OCR / Vision-Ergebnis ===',\n  '',\n  aiContent ||\n    '[Kein brauchbares KI-OCR-Ergebnis erzeugt]',\n  '',\n  '=== Ursprünglicher Paperless-OCR-Inhalt ===',\n  '',\n  originalSection,\n]\n  .join('\\n')\n  .trim();\n\n/**\n * Qualitätsprüfung ausschließlich anhand des\n * neuen KI-/Vision-Inhalts.\n */\nconst normalizedAiContent =\n  aiContent.toLowerCase();\n\nconst contentWithoutErrorPhrases =\n  normalizedAiContent\n    .replace(/\\[?unlesbar\\]?/gi, '')\n    .replace(/keine daten/gi, '')\n    .replace(/nicht erkennbar/gi, '')\n    .replace(/kein text erkannt/gi, '')\n    .replace(/^#+.*$/gm, '')\n    .replace(/\\s+/g, '');\n\nconst quality = {\n  usable:\n    pages.length > 0 &&\n    aiContent.length >= 100 &&\n    contentWithoutErrorPhrases.length >= 30,\n\n  ai_character_count:\n    aiContent.length,\n\n  original_character_count:\n    originalPaperlessContent.length,\n\n  combined_character_count:\n    combinedPaperlessContent.length,\n\n  page_count:\n    pages.length,\n\n  glm_json_valid_for_all_pages:\n    pages.every(\n      page =>\n        page.glm_parsed === true\n    ),\n\n  qwen_json_valid_for_all_pages:\n    pages.every(\n      page =>\n        page.qwen_parsed === true\n    ),\n\n  markdown_table_detected:\n    tables.length > 0,\n\n  image_descriptions_present:\n    searchableVisualSections.length > 0,\n\n  warnings,\n};\n\nreturn [\n  {\n    json: {\n      document_id:\n        pages[0]?.document_id,\n\n      title:\n        pages[0]?.title ?? '',\n\n      original_file_name:\n        pages[0]?.original_file_name ?? '',\n\n      original_custom_fields:\n        pages[0]?.original_custom_fields ?? [],\n\n      pages,\n\n      ai_content:\n        aiContent,\n\n      original_paperless_content:\n        originalPaperlessContent,\n\n      combined_paperless_content:\n        combinedPaperlessContent,\n\n      quality,\n\n      write_back: true,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6560,
        1296
      ],
      "id": "NODE_ID_DOKUMENTERGEBNIS_ZUSAMMENFUEHREN_PLACEHOLDER",
      "name": "Dokumentergebnis zusammenführen"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "CONDITION_ID_KI_ERGEBNIS_BRAUCHBAR_1_PLACEHOLDER",
              "leftValue": "={{ $json.quality.usable }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6752,
        1344
      ],
      "id": "NODE_ID_KI_ERGEBNIS_BRAUCHBAR_PLACEHOLDER",
      "name": "KI-Ergebnis brauchbar?"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://YOUR_PAPERLESS_HOST:8000/api/documents/{{$json.document_id}}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  content: $json.combined_paperless_content,\n  custom_fields: $json.updated_custom_fields\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7120,
        1248
      ],
      "id": "NODE_ID_PAPERLESS_CONTENT_AKTUALISIEREN_PLACEHOLDER",
      "name": "Paperless-content aktualisieren",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_N8N_PAPERLESS_HEADER_AUTH_CREDENTIAL_ID",
          "name": "YOUR_N8N_PAPERLESS_HEADER_AUTH_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "CONDITION_ID_BEREITS_DURCH_KI_OCR_VERARBEITET_1_PLACEHOLDER",
              "leftValue": "={{ $json.ki_ocr_processed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4928,
        1392
      ],
      "id": "NODE_ID_BEREITS_DURCH_KI_OCR_VERARBEITET_PLACEHOLDER",
      "name": "Bereits durch KI-OCR verarbeitet?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5136,
        1248
      ],
      "id": "NODE_ID_DOKUMENT_WURDE_BEREITS_DURCH_KI_OCR_VERARBEITET_PLACEHOLDER",
      "name": "Dokument wurde bereits durch KI-OCR verarbeitet"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fieldId = 12;\n\nconst customFields =\n  Array.isArray($json.custom_fields)\n    ? $json.custom_fields\n    : [];\n\nconst processedField =\n  customFields.find(\n    field => Number(field.field) === fieldId\n  );\n\nreturn {\n  json: {\n    ...$json,\n    ki_ocr_processed:\n      processedField?.value === true,\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4736,
        1392
      ],
      "id": "NODE_ID_KI_OCR_STATUS_PRUEFEN_PLACEHOLDER",
      "name": "KI-OCR-Status prüfen"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const kiOcrFieldId = 12;\n\nconst existing =\n  Array.isArray($json.original_custom_fields)\n    ? $json.original_custom_fields.map(item => ({ ...item }))\n    : [];\n\nconst updated = existing.filter(\n  item => Number(item.field) !== kiOcrFieldId\n);\n\nupdated.push({\n  field: kiOcrFieldId,\n  value: true,\n});\n\nreturn {\n  json: {\n    ...$json,\n    updated_custom_fields: updated,\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6944,
        1248
      ],
      "id": "NODE_ID_CUSTOM_FIELDS_VORBEREITEN_PLACEHOLDER",
      "name": "Custom Fields vorbereiten"
    },
    {
      "parameters": {
        "command": "=set -eu\n\nDOC_ID=\"{{ $('Dokumentergebnis zusammenführen').first().json.document_id }}\"\n\nPDF=\"/files/tmp/paperless-ki-ocr-${DOC_ID}.pdf\"\nDIR=\"/files/tmp/paperless-ki-ocr-${DOC_ID}\"\n\nrm -f \"$PDF\"\nrm -rf \"$DIR\"\n\nprintf 'Gelöscht:\\n%s\\n%s\\n' \"$PDF\" \"$DIR\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        7472,
        1360
      ],
      "id": "NODE_ID_TEMPORAERE_OCR_DATEIEN_LOESCHEN_PLACEHOLDER",
      "name": "Temporäre OCR-Dateien löschen"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=✅ KI-OCR-Test abgeschlossen\n\nDokument-ID: {{$json.document_id}}\nTitel: {{$json.title}}\nSeiten: {{$json.quality.page_count}}\n\nKI-Zeichen:\n{{$json.quality.ai_character_count}}\n\nUrsprüngliche OCR-Zeichen:\n{{$json.quality.original_character_count}}\n\nGesamtzeichen:\n{{$json.quality.combined_character_count}}\n\nGLM-JSON vollständig gültig:\n{{$json.quality.glm_json_valid_for_all_pages}}\n\nQwen-JSON vollständig gültig:\n{{$json.quality.qwen_json_valid_for_all_pages}}\n\nTabelle erkannt:\n{{$json.quality.markdown_table_detected}}\n\nVisuelle Inhalte erkannt:\n{{$json.quality.image_descriptions_present}}\n\n--- KI-Ergebnis Vorschau ---\n{{$json.ai_content.slice(0, 1800)}}\n\n--- Ursprünglicher Paperless-Text ---\n{{$json.original_paperless_content.slice(0, 600)}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        7280,
        1248
      ],
      "id": "NODE_ID_TEST_KI_ERGEBNIS_PLACEHOLDER",
      "name": "TEST KI-Ergebnis",
      "webhookId": "WEBHOOK_ID_TEST_KI_ERGEBNIS_PLACEHOLDER",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_N8N_TELEGRAM_CREDENTIAL_ID",
          "name": "YOUR_N8N_TELEGRAM_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_OLLAMA_HOST:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  model: 'qwen3.5:9b-q8_0',\n  stream: false,\n  think: false,\n  keep_alive: '10m',\n\n  format: {\n    type: 'object',\n    additionalProperties: false,\n\n    properties: {\n      text_markdown: {\n        type: 'string'\n      },\n\n      tables_markdown: {\n        type: 'array',\n        items: {\n          type: 'string'\n        }\n      },\n\n      document_structure: {\n        type: 'array',\n        items: {\n          type: 'string'\n        }\n      },\n\n      symbols: {\n        type: 'array',\n        items: {\n          type: 'object',\n          additionalProperties: false,\n          properties: {\n            label: { type: 'string' },\n            symbol: { type: 'string' },\n            description: { type: 'string' }\n          },\n          required: [\n            'label',\n            'symbol',\n            'description'\n          ]\n        }\n      },\n\n      checkboxes: {\n        type: 'array',\n        items: {\n          type: 'object',\n          additionalProperties: false,\n          properties: {\n            label: { type: 'string' },\n            state: {\n              type: 'string',\n              enum: [\n                'checked',\n                'unchecked',\n                'unclear'\n              ]\n            },\n            description: { type: 'string' }\n          },\n          required: [\n            'label',\n            'state',\n            'description'\n          ]\n        }\n      },\n\n      stamps: {\n        type: 'array',\n        items: {\n          type: 'object',\n          additionalProperties: false,\n          properties: {\n            label: { type: 'string' },\n            text: { type: 'string' },\n            description: { type: 'string' }\n          },\n          required: [\n            'label',\n            'text',\n            'description'\n          ]\n        }\n      },\n\n      signatures: {\n        type: 'array',\n        items: {\n          type: 'object',\n          additionalProperties: false,\n          properties: {\n            label: { type: 'string' },\n            text: { type: 'string' },\n            description: { type: 'string' }\n          },\n          required: [\n            'label',\n            'text',\n            'description'\n          ]\n        }\n      },\n\n      handwriting: {\n        type: 'array',\n        items: {\n          type: 'object',\n          additionalProperties: false,\n          properties: {\n            text: { type: 'string' },\n            description: { type: 'string' }\n          },\n          required: [\n            'text',\n            'description'\n          ]\n        }\n      },\n\n      images: {\n        type: 'array',\n        items: {\n          type: 'object',\n          additionalProperties: false,\n          properties: {\n            label: { type: 'string' },\n            description: { type: 'string' }\n          },\n          required: [\n            'label',\n            'description'\n          ]\n        }\n      },\n\n      figures: {\n        type: 'array',\n        items: {\n          type: 'object',\n          additionalProperties: false,\n          properties: {\n            label: { type: 'string' },\n            type: { type: 'string' },\n            description: { type: 'string' }\n          },\n          required: [\n            'label',\n            'type',\n            'description'\n          ]\n        }\n      },\n\n      visual_notes: {\n        type: 'array',\n        items: {\n          type: 'object',\n          additionalProperties: false,\n          properties: {\n            label: { type: 'string' },\n            description: { type: 'string' }\n          },\n          required: [\n            'label',\n            'description'\n          ]\n        }\n      },\n\n      warnings: {\n        type: 'array',\n        items: {\n          type: 'string'\n        }\n      }\n    },\n\n    required: [\n      'text_markdown',\n      'tables_markdown',\n      'document_structure',\n      'symbols',\n      'checkboxes',\n      'stamps',\n      'signatures',\n      'handwriting',\n      'images',\n      'figures',\n      'visual_notes',\n      'warnings'\n    ]\n  },\n\n  options: {\n    temperature: 0.1,\n    num_ctx: 16384,\n    num_predict: 4096,\n    repeat_penalty: 1.1\n  },\n\n  messages: [\n    {\n      role: 'user',\n\n      content: `Analysiere diese einzelne Dokumentseite vollständig.\n\nDu übernimmst gleichzeitig:\n1. die vollständige Texterkennung,\n2. die Tabellen- und Strukturerkennung,\n3. die Erkennung visueller Elemente.\n\nTexterkennung:\n- Erkenne den vollständigen sichtbaren Text.\n- Erkenne gedruckten und handschriftlichen Text.\n- Erkenne Überschriften, Absätze und Listen.\n- Bewahre Namen, Zahlen, Beträge und Datumsangaben exakt.\n- Schreibe lesbare Handschrift vollständig in \"text_markdown\".\n- Erfasse Handschrift zusätzlich strukturiert in \"handwriting\".\n- Markiere tatsächlich unlesbare Wörter mit [unlesbar].\n- Erfinde keine Inhalte.\n\nTabellen:\n- Gib jede Tabelle vollständig als Markdown-Tabelle in \"tables_markdown\" zurück.\n- Jede Tabelle muss ein eigener String im Array sein.\n- Erhalte Zeilen, Spalten und Zellinhalte möglichst genau.\n- Wiederhole Tabellen nicht zusätzlich in \"text_markdown\".\n- Verwende ein leeres Array, wenn keine Tabelle vorhanden ist.\n- Beschreibe unsichere Tabellenstrukturen zusätzlich in \"warnings\".\n\nDokumentstruktur:\n- Erfasse Überschriften, Abschnitte, Listen, Formularbereiche und andere Strukturelemente in \"document_structure\".\n\nSymbole:\n- Erfasse Logos, Symbole, Zeichen und geometrische Formen.\n- Benenne jedes Element mit einem eindeutigen deutschen Begriff in \"label\".\n- Verwende in \"symbol\" nur ein Zeichen oder Emoji, wenn es zuverlässig passt.\n- Verwende andernfalls einen leeren String.\n- Schreibe alleinstehende grafische Symbole nicht in \"text_markdown\".\n\nKontrollkästchen:\n- Erfasse jedes sichtbare Kontrollkästchen in \"checkboxes\".\n- Verwende für \"state\" ausschließlich \"checked\", \"unchecked\" oder \"unclear\".\n- Erfasse die zugehörige Beschriftung möglichst genau in \"label\".\n\nWeitere visuelle Informationen:\n- Erfasse Stempel einschließlich lesbaren Stempeltexts.\n- Erfasse Unterschriften und lesbare Namen.\n- Erfasse Fotos und Bilder in \"images\".\n- Erfasse Diagramme, Schaubilder und Abbildungen in \"figures\".\n- Erfasse markierte, eingekreiste, unterstrichene oder durchgestrichene Stellen in \"visual_notes\".\n- Beschreibe nur tatsächlich sichtbare Inhalte.\n- Erfinde keine Symbole, Texte oder Bedeutungen.\n- Leere Kategorien bleiben leere Arrays.\n\nJSON-Regeln:\n- Gib genau ein einziges gültiges JSON-Objekt zurück.\n- Wiederhole das JSON-Objekt nicht.\n- Schreibe keinen Text vor oder nach dem JSON.\n- Verwende keine Markdown-Codeblöcke um das JSON.\n- Verwende Backslashes nur für gültige JSON-Escapes.\n- Verwende keine LaTeX-Befehle.\n- Verwende keine Konstruktionen wie \\\\xBullet, \\\\O oder \\\\circ.\n- Verwende ausschließlich die vorgegebene Antwortstruktur.\n\nAntwortstruktur:\n\n{\n  \"text_markdown\": \"\",\n  \"tables_markdown\": [],\n  \"document_structure\": [],\n  \"symbols\": [],\n  \"checkboxes\": [],\n  \"stamps\": [],\n  \"signatures\": [],\n  \"handwriting\": [],\n  \"images\": [],\n  \"figures\": [],\n  \"visual_notes\": [],\n  \"warnings\": []\n}`,\n\n      images: [\n        $json.image_base64\n      ]\n    }\n  ]\n}) }}",
        "options": {
          "timeout": 900000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7296,
        1520
      ],
      "id": "NODE_ID_QWEN3_5_SEITE_ANALYSIEREN_PLACEHOLDER",
      "name": "Qwen3.5 Seite analysieren"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract ID": {
      "main": [
        [
          {
            "node": "Dokumentdaten holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dokumentdaten holen": {
      "main": [
        [
          {
            "node": "KI-OCR-Status prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datei laden": {
      "main": [
        [
          {
            "node": "Dokumentdaten und Datei zusammenführen",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Dokumentdaten und Datei zusammenführen": {
      "main": [
        [
          {
            "node": "PDF temporär speichern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF temporär speichern": {
      "main": [
        [
          {
            "node": "PDF in PNG-Seiten umwandeln",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF in PNG-Seiten umwandeln": {
      "main": [
        [
          {
            "node": "PNG-Seiten laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PNG-Seiten laden": {
      "main": [
        [
          {
            "node": "Seitenmetadaten ergänzen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seitenmetadaten ergänzen": {
      "main": [
        [
          {
            "node": "Seiten sortieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seiten sortieren": {
      "main": [
        [
          {
            "node": "Seiten einzeln verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seiten einzeln verarbeiten": {
      "main": [
        [
          {
            "node": "Dokumentergebnis zusammenführen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Seitenbild zu Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seitenbild zu Base64": {
      "main": [
        [
          {
            "node": "Base64-Metadaten ergänzen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64-Metadaten ergänzen": {
      "main": [
        [
          {
            "node": "GLM-OCR Seite analysieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GLM-OCR Seite analysieren": {
      "main": [
        [
          {
            "node": "GLM-Ergebnis vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GLM-Ergebnis vorbereiten": {
      "main": [
        [
          {
            "node": "Qwen3.5 Seite analysieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seitenergebnis normalisieren": {
      "main": [
        [
          {
            "node": "Seiten einzeln verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dokumentergebnis zusammenführen": {
      "main": [
        [
          {
            "node": "KI-Ergebnis brauchbar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KI-Ergebnis brauchbar?": {
      "main": [
        [
          {
            "node": "Custom Fields vorbereiten",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Temporäre OCR-Dateien löschen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bereits durch KI-OCR verarbeitet?": {
      "main": [
        [
          {
            "node": "Dokument wurde bereits durch KI-OCR verarbeitet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Datei laden",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dokumentdaten und Datei zusammenführen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KI-OCR-Status prüfen": {
      "main": [
        [
          {
            "node": "Bereits durch KI-OCR verarbeitet?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Custom Fields vorbereiten": {
      "main": [
        [
          {
            "node": "Paperless-content aktualisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paperless-content aktualisieren": {
      "main": [
        [
          {
            "node": "TEST KI-Ergebnis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST KI-Ergebnis": {
      "main": [
        [
          {
            "node": "Temporäre OCR-Dateien löschen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qwen3.5 Seite analysieren": {
      "main": [
        [
          {
            "node": "Seitenergebnis normalisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "VERSION_ID_PLACEHOLDER",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "N8N_INSTANCE_ID_PLACEHOLDER"
  },
  "nodeGroups": [],
  "id": "WORKFLOW_ID_PLACEHOLDER",
  "tags": []
}