workflows/paperless-workflow-ki-ocr.json
{
  "name": "paperless-workflow-ki-ocr",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "paperless-ki-ocr",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        4224,
        1392
      ],
      "id": "NODE_ID_WEBHOOK_PLACEHOLDER",
      "name": "Webhook",
      "webhookId": "WEBHOOK_ID_WEBHOOK_PLACEHOLDER"
    },
    {
      "parameters": {
        "jsCode": "const payload =\n  typeof $json.body === 'string'\n    ? JSON.parse($json.body)\n    : $json.body;\n\nconst match = payload.doc_url.match(/\\/documents\\/(\\d+)\\/?/);\n\nif (!match) {\n  throw new Error('Dokument-ID wurde in doc_url nicht gefunden');\n}\n\nreturn [{\n  json: {\n    ...payload,\n    document_id: Number(match[1]),\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4384,
        1392
      ],
      "id": "NODE_ID_EXTRACT_ID_PLACEHOLDER",
      "name": "Extract ID"
    },
    {
      "parameters": {
        "url": "=http://YOUR_PAPERLESS_HOST:8000/api/documents/{{$json.document_id}}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4544,
        1392
      ],
      "id": "NODE_ID_DOKUMENTDATEN_HOLEN_PLACEHOLDER",
      "name": "Dokumentdaten holen",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_N8N_PAPERLESS_HEADER_AUTH_CREDENTIAL_ID",
          "name": "YOUR_N8N_PAPERLESS_HEADER_AUTH_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://YOUR_PAPERLESS_HOST:8000/api/documents/{{$json.id}}/download/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5104,
        1472
      ],
      "id": "NODE_ID_DATEI_LADEN_PLACEHOLDER",
      "name": "Datei laden",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_N8N_PAPERLESS_HEADER_AUTH_CREDENTIAL_ID",
          "name": "YOUR_N8N_PAPERLESS_HEADER_AUTH_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5328,
        1392
      ],
      "id": "NODE_ID_DOKUMENTDATEN_UND_DATEI_ZUSAMMENFUEHREN_PLACEHOLDER",
      "name": "Dokumentdaten und Datei zusammenführen"
    },
    {
      "parameters": {
        "command": "=set -eu\n\nDOC_ID=\"{{ $json.id }}\"\nPDF=\"/files/tmp/paperless-ki-ocr-${DOC_ID}.pdf\"\nDIR=\"/files/tmp/paperless-ki-ocr-${DOC_ID}\"\n\ntest -f \"$PDF\"\n\nrm -rf \"$DIR\"\nmkdir -p \"$DIR\"\n\npdftoppm \\\n  -png \\\n  -r 200 \\\n  \"$PDF\" \\\n  \"$DIR/page\"\n\nPAGE_COUNT=\"$(find \"$DIR\" -maxdepth 1 -type f -name 'page-*.png' | wc -l | tr -d ' ')\"\n\ntest \"$PAGE_COUNT\" -gt 0\n\nprintf 'document_id=%s\\npage_count=%s\\ndirectory=%s\\n' \\\n  \"$DOC_ID\" \\\n  \"$PAGE_COUNT\" \\\n  \"$DIR\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        5696,
        1392
      ],
      "id": "NODE_ID_PDF_IM_RAM_IN_PNG_SEITEN_UMWANDELN_PLACEHOLDER",
      "name": "PDF im RAM in PNG-Seiten umwandeln"
    },
    {
      "parameters": {
        "jsCode": "const document =\n  $('Dokumentdaten und Datei zusammenführen').first().json;\n\nreturn $input.all().map((item, index) => {\n  const fileName =\n    item.binary?.data?.fileName ??\n    `page-${index + 1}.png`;\n\n  const match = fileName.match(/page-(\\d+)\\.png$/i);\n\n  return {\n    json: {\n      document_id: document.id,\n      title: document.title ?? '',\n      original_file_name:\n        document.original_file_name ??\n        document.filename ??\n        '',\n\n      original_content:\n        document.content ?? '',\n\n      original_custom_fields:\n        Array.isArray(document.custom_fields)\n          ? document.custom_fields\n          : [],\n\n      page_number:\n        match\n          ? Number(match[1])\n          : index + 1,\n\n      page_file_name: fileName,\n    },\n\n    binary: item.binary,\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6016,
        1392
      ],
      "id": "NODE_ID_SEITENMETADATEN_ERGAENZEN_PLACEHOLDER",
      "name": "Seitenmetadaten ergänzen"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "page_number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        6176,
        1392
      ],
      "id": "NODE_ID_SEITEN_SORTIEREN_PLACEHOLDER",
      "name": "Seiten sortieren"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        6368,
        1392
      ],
      "id": "NODE_ID_SEITEN_EINZELN_VERARBEITEN_PLACEHOLDER",
      "name": "Seiten einzeln verarbeiten"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "image_base64",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        6560,
        1520
      ],
      "id": "NODE_ID_SEITENBILD_ZU_BASE64_PLACEHOLDER",
      "name": "Seitenbild zu Base64"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const page =\n  $('Seiten einzeln verarbeiten').item.json;\n\nreturn {\n  json: {\n    ...page,\n    image_base64: $json.image_base64,\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6752,
        1520
      ],
      "id": "NODE_ID_BASE64_METADATEN_ERGAENZEN_PLACEHOLDER",
      "name": "Base64-Metadaten ergänzen"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "/**\n * Extrahiert einzelne vollständige JSON-Objekte.\n */\nfunction extractJsonObjects(text) {\n  const results = [];\n\n  let start = -1;\n  let depth = 0;\n  let inString = false;\n  let escaped = false;\n\n  for (let index = 0; index < text.length; index++) {\n    const char = text[index];\n\n    if (inString) {\n      if (escaped) {\n        escaped = false;\n        continue;\n      }\n\n      if (char === '\\\\') {\n        escaped = true;\n        continue;\n      }\n\n      if (char === '\"') {\n        inString = false;\n      }\n\n      continue;\n    }\n\n    if (char === '\"') {\n      inString = true;\n      continue;\n    }\n\n    if (char === '{') {\n      if (depth === 0) {\n        start = index;\n      }\n\n      depth++;\n      continue;\n    }\n\n    if (char === '}') {\n      depth--;\n\n      if (\n        depth === 0 &&\n        start >= 0\n      ) {\n        results.push(\n          text.slice(\n            start,\n            index + 1\n          )\n        );\n\n        start = -1;\n      }\n    }\n  }\n\n  return results;\n}\n\n/**\n * Repariert ungültige Backslashes in Modellantworten.\n */\nfunction repairInvalidJsonEscapes(value) {\n  return value.replace(\n    /\\\\(?![\"\\\\/bfnrtu])/g,\n    '\\\\\\\\'\n  );\n}\n\nfunction parseModelResult(value) {\n  const raw =\n    String(value ?? '').trim();\n\n  const cleaned = raw\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/\\s*```$/i, '')\n    .trim();\n\n  const candidates = [];\n\n  /*\n   * Zuerst jeden einzelnen Markdown-Codeblock prüfen.\n   * So wird bei mehrfach ausgegebenem JSON nur ein Block\n   * verwendet.\n   */\n  const fencedPattern =\n    /```(?:json)?\\s*([\\s\\S]*?)```/gi;\n\n  for (\n    const match of raw.matchAll(\n      fencedPattern\n    )\n  ) {\n    if (match[1]?.trim()) {\n      candidates.push(\n        match[1].trim()\n      );\n    }\n  }\n\n  /*\n   * Danach einzelne vollständige JSON-Objekte suchen.\n   */\n  candidates.push(\n    ...extractJsonObjects(cleaned)\n  );\n\n  /*\n   * Zum Schluss den gesamten bereinigten Inhalt prüfen.\n   */\n  candidates.push(cleaned);\n\n  const checked = new Set();\n\n  for (const candidate of candidates) {\n    const trimmed =\n      String(candidate ?? '').trim();\n\n    if (\n      !trimmed ||\n      checked.has(trimmed)\n    ) {\n      continue;\n    }\n\n    checked.add(trimmed);\n\n    const variants = [\n      trimmed,\n      repairInvalidJsonEscapes(trimmed),\n    ];\n\n    for (const variant of variants) {\n      try {\n        const parsed =\n          JSON.parse(variant);\n\n        return {\n          parsed: true,\n          data: parsed,\n          raw,\n        };\n      } catch {\n        // Nächste Variante prüfen.\n      }\n    }\n  }\n\n  return {\n    parsed: false,\n    data: {},\n    raw,\n  };\n}\n\nconst pageInput =\n  $('Base64-Metadaten ergänzen').item.json;\n\nconst ai =\n  parseModelResult(\n    $json.message?.content\n  );\n\nreturn {\n  json: {\n    document_id:\n      pageInput.document_id,\n\n    title:\n      pageInput.title,\n\n    original_file_name:\n      pageInput.original_file_name,\n\n    original_content:\n      pageInput.original_content,\n\n    original_custom_fields:\n      pageInput.original_custom_fields,\n\n    page_number:\n      pageInput.page_number,\n\n    page_file_name:\n      pageInput.page_file_name,\n\n    ai_parsed:\n      ai.parsed,\n\n    ai:\n      ai.data,\n\n    // Vorläufig für die Fehlersuche behalten.\n    ai_raw:\n      ai.raw,\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7136,
        1520
      ],
      "id": "NODE_ID_SEITENERGEBNIS_NORMALISIEREN_PLACEHOLDER",
      "name": "Seitenergebnis normalisieren"
    },
    {
      "parameters": {
        "jsCode": "const pages = $input\n  .all()\n  .map(item => item.json)\n  .sort(\n    (a, b) =>\n      Number(a.page_number) -\n      Number(b.page_number)\n  );\n\nfunction toArray(value) {\n  if (!Array.isArray(value)) {\n    return [];\n  }\n\n  return value.filter(item =>\n    item !== null &&\n    item !== undefined &&\n    (\n      typeof item !== 'string' ||\n      item.trim() !== ''\n    )\n  );\n}\n\n/**\n * Verhindert, dass bei einer erneuten Verarbeitung\n * bereits erzeugter KI-Inhalt als ursprünglicher\n * Paperless-OCR-Inhalt übernommen wird.\n */\nfunction extractOriginalPaperlessContent(content) {\n  const value =\n    String(content ?? '').trim();\n\n  const marker =\n    '=== Ursprünglicher Paperless-OCR-Inhalt ===';\n\n  if (!value.includes(marker)) {\n    return value;\n  }\n\n  return value\n    .split(marker)\n    .slice(1)\n    .join(marker)\n    .trim();\n}\n\nconst symbolNames = {\n  '❤️': 'Herz',\n  '❤': 'Herz',\n  '♥': 'Herz',\n  '♡': 'Herz',\n\n  '△': 'Dreieck',\n  '▲': 'Dreieck',\n  '▽': 'Dreieck',\n  '▼': 'Dreieck',\n\n  '□': 'Quadrat',\n  '■': 'Quadrat',\n  '□×': 'Quadrat mit Kreuz',\n  '☒': 'Quadrat mit Kreuz',\n  '⊠': 'Quadrat mit Kreuz',\n\n  '○': 'Kreis',\n  '◯': 'Kreis',\n  '●': 'Kreis',\n\n  '×': 'Kreuz',\n  '✕': 'Kreuz',\n  '✖': 'Kreuz',\n\n  '✓': 'Häkchen',\n  '✔': 'Häkchen',\n\n  '→': 'Pfeil nach rechts',\n  '←': 'Pfeil nach links',\n  '↑': 'Pfeil nach oben',\n  '↓': 'Pfeil nach unten',\n};\n\n/**\n * Vereinheitlicht String- und Objektantworten.\n */\nfunction normalizeVisualItem(value, fallbackType) {\n  if (\n    value === null ||\n    value === undefined\n  ) {\n    return null;\n  }\n\n  if (typeof value === 'string') {\n    const raw = value.trim();\n\n    if (!raw) {\n      return null;\n    }\n\n    return {\n      type: fallbackType,\n      label:\n        symbolNames[raw] ??\n        raw,\n      symbol:\n        symbolNames[raw]\n          ? raw\n          : '',\n      text: '',\n      state: '',\n      description: '',\n    };\n  }\n\n  if (typeof value !== 'object') {\n    return null;\n  }\n\n  return {\n    type:\n      String(\n        value.type ??\n        fallbackType\n      ).trim(),\n\n    label:\n      String(\n        value.label ??\n        value.name ??\n        ''\n      ).trim(),\n\n    symbol:\n      String(\n        value.symbol ??\n        value.emoji ??\n        value.glyph ??\n        ''\n      ).trim(),\n\n    text:\n      String(\n        value.text ??\n        value.transcription ??\n        ''\n      ).trim(),\n\n    state:\n      String(\n        value.state ??\n        ''\n      ).trim(),\n\n    description:\n      String(\n        value.description ??\n        value.details ??\n        ''\n      ).trim(),\n  };\n}\n\nfunction formatSymbol(value) {\n  const item =\n    normalizeVisualItem(\n      value,\n      'symbol'\n    );\n\n  if (!item) {\n    return null;\n  }\n\n  const label =\n    item.label ||\n    symbolNames[item.symbol] ||\n    'Unbekanntes Symbol';\n\n  const parts = [label];\n\n  if (item.symbol) {\n    parts.push(\n      `(Symbol: ${item.symbol})`\n    );\n  }\n\n  if (item.description) {\n    parts.push(\n      `– ${item.description}`\n    );\n  }\n\n  return parts.join(' ');\n}\n\nfunction formatCheckbox(value) {\n  const item =\n    normalizeVisualItem(\n      value,\n      'checkbox'\n    );\n\n  if (!item) {\n    return null;\n  }\n\n  const stateNames = {\n    checked: 'angekreuzt',\n    unchecked: 'nicht angekreuzt',\n    unclear: 'Status unklar',\n  };\n\n  const label =\n    item.label ||\n    'Kontrollkästchen ohne lesbare Beschriftung';\n\n  const state =\n    stateNames[item.state] ??\n    'Status unklar';\n\n  const result =\n    `${label} (Kontrollkästchen: ${state})`;\n\n  return item.description\n    ? `${result} – ${item.description}`\n    : result;\n}\n\nfunction formatHandwriting(value) {\n  const item =\n    normalizeVisualItem(\n      value,\n      'handwriting'\n    );\n\n  if (!item) {\n    return null;\n  }\n\n  const text =\n    item.text ||\n    item.label ||\n    item.description;\n\n  if (!text) {\n    return null;\n  }\n\n  const result =\n    `${text} (handgeschriebener Text)`;\n\n  if (\n    item.description &&\n    item.description !== text\n  ) {\n    return (\n      `${result} – ` +\n      item.description\n    );\n  }\n\n  return result;\n}\n\nfunction formatVisualObject(\n  value,\n  fallbackType,\n  typeLabel,\n  includeDetectedType = false\n) {\n  const item =\n    normalizeVisualItem(\n      value,\n      fallbackType\n    );\n\n  if (!item) {\n    return null;\n  }\n\n  const mainText =\n    item.label ||\n    item.text ||\n    typeLabel;\n\n  const details = [];\n\n  if (\n    item.text &&\n    item.text !== mainText\n  ) {\n    details.push(\n      `Text: ${item.text}`\n    );\n  }\n\n  if (\n    includeDetectedType &&\n    item.type &&\n    item.type !== fallbackType\n  ) {\n    details.push(\n      `Typ: ${item.type}`\n    );\n  }\n\n  if (item.description) {\n    details.push(\n      item.description\n    );\n  }\n\n  if (item.symbol) {\n    details.push(\n      `Symbol: ${item.symbol}`\n    );\n  }\n\n  if (details.length === 0) {\n    return `${mainText} (${typeLabel})`;\n  }\n\n  return (\n    `${mainText} (${typeLabel}: ` +\n    `${details.join('; ')})`\n  );\n}\n\nconst textParts = [];\nconst tables = [];\nconst documentStructures = [];\nconst searchableVisualSections = [];\nconst warnings = [];\n\nfor (const page of pages) {\n  const ai =\n    page.ai ?? {};\n\n  const aiText =\n    ai.text_markdown ||\n    ai.text ||\n    (\n      !page.ai_parsed\n        ? page.ai_raw\n        : ''\n    );\n\n  if (String(aiText ?? '').trim()) {\n    textParts.push(\n      `## Seite ${page.page_number}\\n\\n` +\n      String(aiText).trim()\n    );\n  }\n\n  for (\n    const table of toArray(\n      ai.tables_markdown\n    )\n  ) {\n    tables.push(\n      `### Tabelle auf Seite ${page.page_number}\\n\\n` +\n      String(table).trim()\n    );\n  }\n\n  const structures =\n    toArray(\n      ai.document_structure\n    );\n\n  if (structures.length > 0) {\n    documentStructures.push(\n      `### Struktur auf Seite ${page.page_number}\\n\\n` +\n      structures\n        .map(value => `- ${value}`)\n        .join('\\n')\n    );\n  }\n\n  const pageVisualEntries = [];\n\n  /*\n   * Symbole, Logos und geometrische Formen\n   */\n  for (\n    const value of toArray(\n      ai.symbols\n    )\n  ) {\n    const formatted =\n      formatSymbol(value);\n\n    if (formatted) {\n      pageVisualEntries.push(\n        formatted\n      );\n    }\n  }\n\n  /*\n   * Kontrollkästchen\n   */\n  for (\n    const value of toArray(\n      ai.checkboxes\n    )\n  ) {\n    const formatted =\n      formatCheckbox(value);\n\n    if (formatted) {\n      pageVisualEntries.push(\n        formatted\n      );\n    }\n  }\n\n  /*\n   * Handschriftliche Texte\n   */\n  for (\n    const value of toArray(\n      ai.handwriting\n    )\n  ) {\n    const formatted =\n      formatHandwriting(value);\n\n    if (formatted) {\n      pageVisualEntries.push(\n        formatted\n      );\n    }\n  }\n\n  /*\n   * Stempel\n   */\n  for (\n    const value of toArray(\n      ai.stamps\n    )\n  ) {\n    const formatted =\n      formatVisualObject(\n        value,\n        'stamp',\n        'Stempel'\n      );\n\n    if (formatted) {\n      pageVisualEntries.push(\n        formatted\n      );\n    }\n  }\n\n  /*\n   * Unterschriften\n   */\n  for (\n    const value of toArray(\n      ai.signatures\n    )\n  ) {\n    const formatted =\n      formatVisualObject(\n        value,\n        'signature',\n        'Unterschrift'\n      );\n\n    if (formatted) {\n      pageVisualEntries.push(\n        formatted\n      );\n    }\n  }\n\n  /*\n   * Fotos und Bilder\n   */\n  for (\n    const value of toArray(\n      ai.images\n    )\n  ) {\n    const formatted =\n      formatVisualObject(\n        value,\n        'image',\n        'Bild oder Foto'\n      );\n\n    if (formatted) {\n      pageVisualEntries.push(\n        formatted\n      );\n    }\n  }\n\n  /*\n   * Diagramme, Schaubilder und Abbildungen\n   */\n  for (\n    const value of toArray(\n      ai.figures\n    )\n  ) {\n    const formatted =\n      formatVisualObject(\n        value,\n        'figure',\n        'Diagramm oder Abbildung',\n        true\n      );\n\n    if (formatted) {\n      pageVisualEntries.push(\n        formatted\n      );\n    }\n  }\n\n  /*\n   * Markierungen und weitere visuelle Hinweise\n   */\n  for (\n    const value of toArray(\n      ai.visual_notes\n    )\n  ) {\n    const formatted =\n      formatVisualObject(\n        value,\n        'visual_note',\n        'visueller Hinweis'\n      );\n\n    if (formatted) {\n      pageVisualEntries.push(\n        formatted\n      );\n    }\n  }\n\n  if (pageVisualEntries.length > 0) {\n    searchableVisualSections.push(\n      `## Seite ${page.page_number}\\n\\n` +\n      pageVisualEntries\n        .map(\n          (value, index) =>\n            `${index + 1}. ${value}`\n        )\n        .join('\\n\\n')\n    );\n  }\n\n  for (\n    const warning of toArray(\n      ai.warnings\n    )\n  ) {\n    warnings.push(\n      `Seite ${page.page_number}: ${warning}`\n    );\n  }\n}\n\nconst aiSections = [];\n\nif (textParts.length > 0) {\n  aiSections.push(\n    `# Dokumenttext\\n\\n` +\n    textParts.join('\\n\\n')\n  );\n}\n\nif (tables.length > 0) {\n  aiSections.push(\n    `# Tabellen\\n\\n` +\n    tables.join('\\n\\n')\n  );\n}\n\nif (documentStructures.length > 0) {\n  aiSections.push(\n    `# Dokumentstruktur\\n\\n` +\n    documentStructures.join('\\n\\n')\n  );\n}\n\nif (searchableVisualSections.length > 0) {\n  aiSections.push(\n    `# Erkannte visuelle Elemente und handgeschriebene Texte\\n\\n` +\n    searchableVisualSections.join('\\n\\n')\n  );\n}\n\n/*\n * Ausschließlich neuer KI-Inhalt.\n */\nconst aiContent =\n  aiSections\n    .join('\\n\\n')\n    .trim();\n\n/*\n * Ursprünglicher Paperless-OCR-Inhalt.\n */\nconst originalPaperlessContent =\n  extractOriginalPaperlessContent(\n    pages[0]?.original_content\n  );\n\nconst originalSection =\n  originalPaperlessContent ||\n  '[Kein ursprünglicher Paperless-OCR-Inhalt vorhanden]';\n\n/*\n * Inhalt, der später nach Paperless geschrieben wird.\n */\nconst combinedPaperlessContent = [\n  '=== KI-OCR / Vision-Ergebnis ===',\n  '',\n  aiContent ||\n    '[Kein brauchbares KI-OCR-Ergebnis erzeugt]',\n  '',\n  '=== Ursprünglicher Paperless-OCR-Inhalt ===',\n  '',\n  originalSection,\n]\n  .join('\\n')\n  .trim();\n\n/*\n * Qualitätsprüfung des neuen KI-Inhalts.\n */\nconst normalizedAiContent =\n  aiContent.toLowerCase();\n\nconst contentWithoutErrorPhrases =\n  normalizedAiContent\n    .replace(/\\[?unlesbar\\]?/gi, '')\n    .replace(/keine daten/gi, '')\n    .replace(/nicht erkennbar/gi, '')\n    .replace(/kein text erkannt/gi, '')\n    .replace(/^#+.*$/gm, '')\n    .replace(/\\s+/g, '');\n\nconst quality = {\n  usable:\n    pages.length > 0 &&\n    aiContent.length >= 100 &&\n    contentWithoutErrorPhrases.length >= 30,\n\n  ai_character_count:\n    aiContent.length,\n\n  original_character_count:\n    originalPaperlessContent.length,\n\n  combined_character_count:\n    combinedPaperlessContent.length,\n\n  page_count:\n    pages.length,\n\n  ai_json_valid_for_all_pages:\n    pages.length > 0 &&\n    pages.every(\n      page =>\n        page.ai_parsed === true\n    ),\n\n  markdown_table_detected:\n    tables.length > 0,\n\n  visual_descriptions_present:\n    searchableVisualSections.length > 0,\n\n  warnings,\n};\n\nreturn [\n  {\n    json: {\n      document_id:\n        pages[0]?.document_id,\n\n      title:\n        pages[0]?.title ?? '',\n\n      original_file_name:\n        pages[0]?.original_file_name ?? '',\n\n      original_custom_fields:\n        pages[0]?.original_custom_fields ?? [],\n\n      pages,\n\n      ai_content:\n        aiContent,\n\n      original_paperless_content:\n        originalPaperlessContent,\n\n      combined_paperless_content:\n        combinedPaperlessContent,\n\n      quality,\n\n      write_back: true,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6560,
        1248
      ],
      "id": "NODE_ID_DOKUMENTERGEBNIS_ZUSAMMENFUEHREN_PLACEHOLDER",
      "name": "Dokumentergebnis zusammenführen"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "CONDITION_ID_KI_ERGEBNIS_BRAUCHBAR_1_PLACEHOLDER",
              "leftValue": "={{ $json.quality.usable }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6720,
        1360
      ],
      "id": "NODE_ID_KI_ERGEBNIS_BRAUCHBAR_PLACEHOLDER",
      "name": "KI-Ergebnis brauchbar?"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://YOUR_PAPERLESS_HOST:8000/api/documents/{{$json.document_id}}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  content: $json.combined_paperless_content,\n  custom_fields: $json.updated_custom_fields\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7072,
        1264
      ],
      "id": "NODE_ID_PAPERLESS_CONTENT_AKTUALISIEREN_PLACEHOLDER",
      "name": "Paperless-content aktualisieren",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_N8N_PAPERLESS_HEADER_AUTH_CREDENTIAL_ID",
          "name": "YOUR_N8N_PAPERLESS_HEADER_AUTH_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "CONDITION_ID_BEREITS_DURCH_KI_OCR_VERARBEITET_1_PLACEHOLDER",
              "leftValue": "={{ $json.ki_ocr_processed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4928,
        1392
      ],
      "id": "NODE_ID_BEREITS_DURCH_KI_OCR_VERARBEITET_PLACEHOLDER",
      "name": "Bereits durch KI-OCR verarbeitet?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5136,
        1248
      ],
      "id": "NODE_ID_DOKUMENT_WURDE_BEREITS_DURCH_KI_OCR_VERARBEITET_PLACEHOLDER",
      "name": "Dokument wurde bereits durch KI-OCR verarbeitet"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fieldId = 1;\n\nconst customFields =\n  Array.isArray($json.custom_fields)\n    ? $json.custom_fields\n    : [];\n\nconst processedField =\n  customFields.find(\n    field => Number(field.field) === fieldId\n  );\n\nreturn {\n  json: {\n    ...$json,\n    ki_ocr_processed:\n      processedField?.value === true,\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4736,
        1392
      ],
      "id": "NODE_ID_KI_OCR_STATUS_PRUEFEN_PLACEHOLDER",
      "name": "KI-OCR-Status prüfen"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const kiOcrFieldId = 1;\n\nconst existing =\n  Array.isArray($json.original_custom_fields)\n    ? $json.original_custom_fields.map(item => ({ ...item }))\n    : [];\n\nconst updated = existing.filter(\n  item => Number(item.field) !== kiOcrFieldId\n);\n\nupdated.push({\n  field: kiOcrFieldId,\n  value: true,\n});\n\nreturn {\n  json: {\n    ...$json,\n    updated_custom_fields: updated,\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6880,
        1264
      ],
      "id": "NODE_ID_CUSTOM_FIELDS_VORBEREITEN_PLACEHOLDER",
      "name": "Custom Fields vorbereiten"
    },
    {
      "parameters": {
        "command": "=set -eu\n\nDOC_ID=\"{{ $('Dokumentergebnis zusammenführen').first().json.document_id }}\"\n\nPDF=\"/files/tmp/paperless-ki-ocr-${DOC_ID}.pdf\"\nDIR=\"/files/tmp/paperless-ki-ocr-${DOC_ID}\"\n\nrm -f \"$PDF\"\nrm -rf \"$DIR\"\n\nprintf 'Gelöscht:\\n%s\\n%s\\n' \"$PDF\" \"$DIR\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        7456,
        1376
      ],
      "id": "NODE_ID_TEMPORAERE_OCR_DATEIEN_AUS_RAM_LOESCHEN_PLACEHOLDER",
      "name": "Temporäre OCR-Dateien aus RAM löschen"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=✅ KI-OCR-Test abgeschlossen\n\nDokument-ID: {{$('Dokumentergebnis zusammenführen').first().json.document_id}}\nSeiten: {{$('Dokumentergebnis zusammenführen').first().json.quality.page_count}}\n\nKI-Zeichen:\n{{$('Dokumentergebnis zusammenführen').first().json.quality.ai_character_count}}\n\nUrsprüngliche OCR-Zeichen:\n{{$('Dokumentergebnis zusammenführen').first().json.quality.original_character_count}}\n\nGesamtzeichen:\n{{$('Dokumentergebnis zusammenführen').first().json.quality.combined_character_count}}\n\nKI-JSON vollständig gültig:\n{{$('Dokumentergebnis zusammenführen').first().json.quality.ai_json_valid_for_all_pages}}\n\nTabelle erkannt:\n{{$('Dokumentergebnis zusammenführen').first().json.quality.markdown_table_detected}}\n\nVisuelle Inhalte erkannt:\n{{$('Dokumentergebnis zusammenführen').first().json.quality.visual_descriptions_present}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        7264,
        1264
      ],
      "id": "NODE_ID_TEST_KI_ERGEBNIS_PLACEHOLDER",
      "name": "TEST KI-Ergebnis",
      "webhookId": "WEBHOOK_ID_TEST_KI_ERGEBNIS_PLACEHOLDER",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_N8N_TELEGRAM_CREDENTIAL_ID",
          "name": "YOUR_N8N_TELEGRAM_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_OLLAMA_HOST:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  model: 'qwen3.5:9b-q8_0',\n  stream: false,\n  think: false,\n  keep_alive: '10m',\n\n  format: {\n    type: 'object',\n    additionalProperties: false,\n\n    properties: {\n      text_markdown: {\n        type: 'string'\n      },\n\n      tables_markdown: {\n        type: 'array',\n        items: {\n          type: 'string'\n        }\n      },\n\n      document_structure: {\n        type: 'array',\n        items: {\n          type: 'string'\n        }\n      },\n\n      symbols: {\n        type: 'array',\n        items: {\n          type: 'object',\n          additionalProperties: false,\n          properties: {\n            label: { type: 'string' },\n            symbol: { type: 'string' },\n            description: { type: 'string' }\n          },\n          required: [\n            'label',\n            'symbol',\n            'description'\n          ]\n        }\n      },\n\n      checkboxes: {\n        type: 'array',\n        items: {\n          type: 'object',\n          additionalProperties: false,\n          properties: {\n            label: { type: 'string' },\n            state: {\n              type: 'string',\n              enum: [\n                'checked',\n                'unchecked',\n                'unclear'\n              ]\n            },\n            description: { type: 'string' }\n          },\n          required: [\n            'label',\n            'state',\n            'description'\n          ]\n        }\n      },\n\n      stamps: {\n        type: 'array',\n        items: {\n          type: 'object',\n          additionalProperties: false,\n          properties: {\n            label: { type: 'string' },\n            text: { type: 'string' },\n            description: { type: 'string' }\n          },\n          required: [\n            'label',\n            'text',\n            'description'\n          ]\n        }\n      },\n\n      signatures: {\n        type: 'array',\n        items: {\n          type: 'object',\n          additionalProperties: false,\n          properties: {\n            label: { type: 'string' },\n            text: { type: 'string' },\n            description: { type: 'string' }\n          },\n          required: [\n            'label',\n            'text',\n            'description'\n          ]\n        }\n      },\n\n      handwriting: {\n        type: 'array',\n        items: {\n          type: 'object',\n          additionalProperties: false,\n          properties: {\n            text: { type: 'string' },\n            description: { type: 'string' }\n          },\n          required: [\n            'text',\n            'description'\n          ]\n        }\n      },\n\n      images: {\n        type: 'array',\n        items: {\n          type: 'object',\n          additionalProperties: false,\n          properties: {\n            label: { type: 'string' },\n            description: { type: 'string' }\n          },\n          required: [\n            'label',\n            'description'\n          ]\n        }\n      },\n\n      figures: {\n        type: 'array',\n        items: {\n          type: 'object',\n          additionalProperties: false,\n          properties: {\n            label: { type: 'string' },\n            type: { type: 'string' },\n            description: { type: 'string' }\n          },\n          required: [\n            'label',\n            'type',\n            'description'\n          ]\n        }\n      },\n\n      visual_notes: {\n        type: 'array',\n        items: {\n          type: 'object',\n          additionalProperties: false,\n          properties: {\n            label: { type: 'string' },\n            description: { type: 'string' }\n          },\n          required: [\n            'label',\n            'description'\n          ]\n        }\n      },\n\n      warnings: {\n        type: 'array',\n        items: {\n          type: 'string'\n        }\n      }\n    },\n\n    required: [\n      'text_markdown',\n      'tables_markdown',\n      'document_structure',\n      'symbols',\n      'checkboxes',\n      'stamps',\n      'signatures',\n      'handwriting',\n      'images',\n      'figures',\n      'visual_notes',\n      'warnings'\n    ]\n  },\n\n  options: {\n    temperature: 0.1,\n    num_ctx: 16384,\n    num_predict: 4096,\n    repeat_penalty: 1.1\n  },\n\n  messages: [\n    {\n      role: 'user',\n\n      content: `Analysiere diese einzelne Dokumentseite vollständig.\n\nDu übernimmst gleichzeitig:\n1. die vollständige Texterkennung,\n2. die Tabellen- und Strukturerkennung,\n3. die Erkennung visueller Elemente.\n\nVerbindliche Regel für \"text_markdown\":\n- Wenn mindestens ein lesbares Zeichen vorhanden ist, darf \"text_markdown\" nicht leer sein.\n- Transkribiere dort den gesamten sichtbaren Text in natürlicher Lesereihenfolge.\n- Erfasse Überschriften, Absätze, Listen, Beschriftungen, einzelne Wörter, Namen, Zahlen, Beträge und Datumsangaben.\n- Erfasse auch den lesbaren Text von Handschrift, Stempeln und Unterschriften in \"text_markdown\".\n- \"document_structure\", \"handwriting\" und \"signatures\" sind zusätzliche strukturierte Angaben und ersetzen niemals die vollständige Transkription in \"text_markdown\".\n- Tabelleninhalte gehören ausschließlich nach \"tables_markdown\".\n- Alleinstehende grafische Symbole gehören nicht nach \"text_markdown\".\n\nTexterkennung:\n- Erkenne gedruckten und handschriftlichen Text vollständig.\n- Bewahre Schreibweise, Namen, Zahlen, Beträge und Datumsangaben möglichst exakt.\n- Markiere tatsächlich unlesbare Wörter mit [unlesbar].\n- Erfinde keine Inhalte.\n\nHandschrift:\n- Schreibe jeden lesbaren handschriftlichen Text vollständig in \"text_markdown\".\n- Erfasse ihn zusätzlich strukturiert in \"handwriting\".\n- Erfasse auch einzelne handschriftliche Wörter, Namen und Zahlen.\n- Ein handgeschriebener Name oder ein einzelnes Wort ist nicht automatisch eine Unterschrift.\n- Verwende \"signatures\" nur bei einer tatsächlich erkennbaren Unterschrift, beispielsweise auf einer Unterschriftslinie, unter einer Grußformel oder in einem eindeutigen Unterschriftsbereich.\n\nTabellen:\n- Gib jede Tabelle vollständig als Markdown-Tabelle in \"tables_markdown\" zurück.\n- Jede Tabelle muss ein eigener String im Array sein.\n- Erhalte Zeilen, Spalten und Zellinhalte möglichst genau.\n- Wiederhole Tabellen nicht zusätzlich in \"text_markdown\".\n- Verwende ein leeres Array, wenn keine Tabelle vorhanden ist.\n- Beschreibe unsichere Tabellenstrukturen zusätzlich in \"warnings\".\n\nDokumentstruktur:\n- Erfasse Überschriften, Abschnitte, Listen, Formularbereiche und andere Strukturelemente.\n- Beschreibe hier hauptsächlich die Struktur und verwende dieses Feld nicht als Ersatz für \"text_markdown\".\n- Wiederhole keine langen Textpassagen unnötig.\n\nSymbole:\n- Erfasse Logos, Symbole, Zeichen und geometrische Formen.\n- Benenne jedes Element mit einem eindeutigen deutschen Begriff in \"label\".\n- Verwende in \"symbol\" nur ein Zeichen oder Emoji, wenn es die sichtbare Form zuverlässig und genau darstellt.\n- Verwende für ein Quadrat oder Kästchen mit Kreuz bevorzugt \"☒\".\n- Verwende \"⊗\" nicht für ein Quadrat mit Kreuz, da dieses Zeichen einen Kreis mit Kreuz darstellt.\n- Wenn kein genau passendes Zeichen vorhanden ist, verwende einen leeren String.\n- Schreibe grafische Symbole nicht in \"text_markdown\".\n- Erfasse einfache geometrische Formen ausschließlich in \"symbols\" und nicht zusätzlich in \"figures\".\n\nKontrollkästchen:\n- Erfasse jedes sichtbare Kontrollkästchen in \"checkboxes\".\n- Verwende für \"state\" ausschließlich \"checked\", \"unchecked\" oder \"unclear\".\n- Erfasse die zugehörige Beschriftung möglichst genau in \"label\".\n\nWeitere visuelle Informationen:\n- Erfasse Stempel einschließlich des lesbaren Stempeltexts.\n- Erfasse nur tatsächlich erkennbare Unterschriften in \"signatures\".\n- Erfasse Fotos und Bilder in \"images\".\n- Verwende \"figures\" nur für Diagramme, Schaubilder, technische Abbildungen oder zusammengesetzte Darstellungen.\n- Wiederhole einfache Formen aus \"symbols\" nicht zusätzlich in \"figures\".\n- Erfasse markierte, eingekreiste, unterstrichene oder durchgestrichene Stellen in \"visual_notes\".\n- Beschreibe nur tatsächlich sichtbare Inhalte.\n- Erfinde keine Symbole, Texte oder Bedeutungen.\n- Leere Kategorien bleiben leere Arrays.\n\nJSON-Regeln:\n- Gib genau ein einziges gültiges JSON-Objekt zurück.\n- Wiederhole das JSON-Objekt nicht.\n- Schreibe keinen Text vor oder nach dem JSON.\n- Verwende keine Markdown-Codeblöcke um das JSON.\n- Verwende Backslashes nur für gültige JSON-Escapes.\n- Verwende keine LaTeX-Befehle.\n- Verwende keine Konstruktionen wie \\\\xBullet, \\\\O oder \\\\circ.\n- Verwende ausschließlich die vorgegebene Antwortstruktur.\n\nAntwortstruktur:\n\n{\n  \"text_markdown\": \"\",\n  \"tables_markdown\": [],\n  \"document_structure\": [],\n  \"symbols\": [],\n  \"checkboxes\": [],\n  \"stamps\": [],\n  \"signatures\": [],\n  \"handwriting\": [],\n  \"images\": [],\n  \"figures\": [],\n  \"visual_notes\": [],\n  \"warnings\": []\n}`,\n\n      images: [\n        $json.image_base64\n      ]\n    }\n  ]\n}) }}",
        "options": {
          "timeout": 900000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6944,
        1520
      ],
      "id": "NODE_ID_QWEN3_5_SEITE_ANALYSIEREN_PLACEHOLDER",
      "name": "Qwen3.5 Seite analysieren"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/files/tmp/paperless-ki-ocr-{{$json.id}}.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        5520,
        1392
      ],
      "id": "NODE_ID_PDF_TEMPORAER_IM_RAM_SPEICHERN_PLACEHOLDER",
      "name": "PDF temporär im RAM speichern",
      "notes": "Der Zielpfad /files/tmp ist ein flüchtiges tmpfs im RAM und kein persistenter Festplattenspeicher."
    },
    {
      "parameters": {
        "fileSelector": "={{ '/files/tmp/paperless-ki-ocr-' + $('Dokumentdaten und Datei zusammenführen').first().json.id + '/page-*.png' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        5856,
        1392
      ],
      "id": "NODE_ID_PNG_SEITEN_AUS_RAM_LADEN_PLACEHOLDER",
      "name": "PNG-Seiten aus RAM laden"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract ID": {
      "main": [
        [
          {
            "node": "Dokumentdaten holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dokumentdaten holen": {
      "main": [
        [
          {
            "node": "KI-OCR-Status prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datei laden": {
      "main": [
        [
          {
            "node": "Dokumentdaten und Datei zusammenführen",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Dokumentdaten und Datei zusammenführen": {
      "main": [
        [
          {
            "node": "PDF temporär im RAM speichern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF im RAM in PNG-Seiten umwandeln": {
      "main": [
        [
          {
            "node": "PNG-Seiten aus RAM laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seitenmetadaten ergänzen": {
      "main": [
        [
          {
            "node": "Seiten sortieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seiten sortieren": {
      "main": [
        [
          {
            "node": "Seiten einzeln verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seiten einzeln verarbeiten": {
      "main": [
        [
          {
            "node": "Dokumentergebnis zusammenführen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Seitenbild zu Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seitenbild zu Base64": {
      "main": [
        [
          {
            "node": "Base64-Metadaten ergänzen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64-Metadaten ergänzen": {
      "main": [
        [
          {
            "node": "Qwen3.5 Seite analysieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seitenergebnis normalisieren": {
      "main": [
        [
          {
            "node": "Seiten einzeln verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dokumentergebnis zusammenführen": {
      "main": [
        [
          {
            "node": "KI-Ergebnis brauchbar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KI-Ergebnis brauchbar?": {
      "main": [
        [
          {
            "node": "Custom Fields vorbereiten",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Temporäre OCR-Dateien aus RAM löschen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bereits durch KI-OCR verarbeitet?": {
      "main": [
        [
          {
            "node": "Dokument wurde bereits durch KI-OCR verarbeitet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Datei laden",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dokumentdaten und Datei zusammenführen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KI-OCR-Status prüfen": {
      "main": [
        [
          {
            "node": "Bereits durch KI-OCR verarbeitet?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Custom Fields vorbereiten": {
      "main": [
        [
          {
            "node": "Paperless-content aktualisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paperless-content aktualisieren": {
      "main": [
        [
          {
            "node": "TEST KI-Ergebnis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TEST KI-Ergebnis": {
      "main": [
        [
          {
            "node": "Temporäre OCR-Dateien aus RAM löschen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qwen3.5 Seite analysieren": {
      "main": [
        [
          {
            "node": "Seitenergebnis normalisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF temporär im RAM speichern": {
      "main": [
        [
          {
            "node": "PDF im RAM in PNG-Seiten umwandeln",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PNG-Seiten aus RAM laden": {
      "main": [
        [
          {
            "node": "Seitenmetadaten ergänzen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "VERSION_ID_PLACEHOLDER",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "N8N_INSTANCE_ID_PLACEHOLDER"
  },
  "nodeGroups": [],
  "id": "WORKFLOW_ID_PLACEHOLDER",
  "tags": []
}