workflows/paperless-workflow-ki-ocr.json
{
  "name": "paperless-workflow-ki-ocr",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "paperless-ki-ocr",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        512,
        320
      ],
      "id": "NODE_ID_WEBHOOK_PLACEHOLDER",
      "name": "Webhook",
      "webhookId": "WEBHOOK_ID_WEBHOOK_PLACEHOLDER"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=✅ Paperless Workflow hat n8n erreicht\n\nDocument ID: {{$json.document_id}}\nTitel: {{$json.title}}\nOriginalname: {{$json.original_name}}\nDokumenttyp: {{$json.document_type}}\nKorrespondent: {{$json.correspondent}}\n\nStatus: Webhook funktioniert.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1088,
        144
      ],
      "id": "NODE_ID_TELEGRAM_WEBHOOK_TEST_PLACEHOLDER",
      "name": "Telegram Webhook Test",
      "webhookId": "WEBHOOK_ID_TELEGRAM_WEBHOOK_TEST_PLACEHOLDER",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_N8N_TELEGRAM_CREDENTIAL_ID",
          "name": "YOUR_N8N_TELEGRAM_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload =\n  typeof $json.body === 'string'\n    ? JSON.parse($json.body)\n    : $json.body;\n\nconst match = payload.doc_url.match(/\\/documents\\/(\\d+)\\/?/);\n\nif (!match) {\n  throw new Error('Dokument-ID wurde in doc_url nicht gefunden');\n}\n\nreturn [{\n  json: {\n    ...payload,\n    document_id: Number(match[1]),\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        320
      ],
      "id": "NODE_ID_EXTRACT_ID_PLACEHOLDER",
      "name": "Extract ID"
    },
    {
      "parameters": {
        "url": "=http://YOUR_PAPERLESS_HOST:8000/api/documents/{{$json.document_id}}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        864,
        240
      ],
      "id": "NODE_ID_DOKUMENTDATEN_HOLEN_PLACEHOLDER",
      "name": "Dokumentdaten holen",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_N8N_PAPERLESS_HEADER_AUTH_CREDENTIAL_ID",
          "name": "YOUR_N8N_PAPERLESS_HEADER_AUTH_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://YOUR_PAPERLESS_HOST:8000/api/documents/{{$json.document_id}}/download/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        864,
        416
      ],
      "id": "NODE_ID_DATEI_LADEN_PLACEHOLDER",
      "name": "Datei laden",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_N8N_PAPERLESS_HEADER_AUTH_CREDENTIAL_ID",
          "name": "YOUR_N8N_PAPERLESS_HEADER_AUTH_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1104,
        320
      ],
      "id": "NODE_ID_DOKUMENTDATEN_UND_DATEI_ZUSAMMENFUHREN_PLACEHOLDER",
      "name": "Dokumentdaten und Datei zusammenführen"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/files/tmp/paperless-ki-ocr-{{$json.id}}.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1296,
        320
      ],
      "id": "NODE_ID_PDF_TEMPORAR_SPEICHERN_PLACEHOLDER",
      "name": "PDF temporär speichern"
    },
    {
      "parameters": {
        "command": "=set -eu\n\nDOC_ID=\"{{ $json.id }}\"\nPDF=\"/files/tmp/paperless-ki-ocr-${DOC_ID}.pdf\"\nDIR=\"/files/tmp/paperless-ki-ocr-${DOC_ID}\"\n\ntest -f \"$PDF\"\n\nrm -rf \"$DIR\"\nmkdir -p \"$DIR\"\n\npdftoppm \\\n  -png \\\n  -r 200 \\\n  \"$PDF\" \\\n  \"$DIR/page\"\n\nPAGE_COUNT=\"$(find \"$DIR\" -maxdepth 1 -type f -name 'page-*.png' | wc -l | tr -d ' ')\"\n\ntest \"$PAGE_COUNT\" -gt 0\n\nprintf 'document_id=%s\\npage_count=%s\\ndirectory=%s\\n' \\\n  \"$DOC_ID\" \\\n  \"$PAGE_COUNT\" \\\n  \"$DIR\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1472,
        320
      ],
      "id": "NODE_ID_PDF_IN_PNG_SEITEN_UMWANDELN_PLACEHOLDER",
      "name": "PDF in PNG-Seiten umwandeln"
    },
    {
      "parameters": {
        "fileSelector": "={{ '/files/tmp/paperless-ki-ocr-' + $('Dokumentdaten und Datei zusammenführen').first().json.id + '/page-*.png' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1632,
        320
      ],
      "id": "NODE_ID_PNG_SEITEN_LADEN_PLACEHOLDER",
      "name": "PNG-Seiten laden"
    },
    {
      "parameters": {
        "jsCode": "const document =\n  $('Dokumentdaten und Datei zusammenführen').first().json;\n\nreturn $input.all().map((item, index) => {\n  const fileName =\n    item.binary?.data?.fileName ??\n    `page-${index + 1}.png`;\n\n  const match = fileName.match(/page-(\\d+)\\.png$/i);\n\n  return {\n    json: {\n      document_id: document.id,\n      title: document.title ?? '',\n      original_file_name:\n        document.original_file_name ??\n        document.filename ??\n        '',\n\n      original_content:\n        document.content ?? '',\n\n      original_custom_fields:\n        Array.isArray(document.custom_fields)\n          ? document.custom_fields\n          : [],\n\n      page_number:\n        match\n          ? Number(match[1])\n          : index + 1,\n\n      page_file_name: fileName,\n    },\n\n    binary: item.binary,\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        320
      ],
      "id": "NODE_ID_SEITENMETADATEN_ERGANZEN_PLACEHOLDER",
      "name": "Seitenmetadaten ergänzen"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "page_number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        2016,
        320
      ],
      "id": "NODE_ID_SEITEN_SORTIEREN_PLACEHOLDER",
      "name": "Seiten sortieren"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2224,
        320
      ],
      "id": "NODE_ID_SEITEN_EINZELN_VERARBEITEN_PLACEHOLDER",
      "name": "Seiten einzeln verarbeiten"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "image_base64",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2400,
        464
      ],
      "id": "NODE_ID_SEITENBILD_ZU_BASE64_PLACEHOLDER",
      "name": "Seitenbild zu Base64"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const page =\n  $('Seiten einzeln verarbeiten').item.json;\n\nreturn {\n  json: {\n    ...page,\n    image_base64: $json.image_base64,\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        320
      ],
      "id": "NODE_ID_BASE64_METADATEN_ERGANZEN_PLACEHOLDER",
      "name": "Base64-Metadaten ergänzen"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_OLLAMA_HOST:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  model: 'glm-ocr',\n  stream: false,\n  keep_alive: 0,\n  options: {\n    temperature: 0\n  },\n  messages: [\n    {\n      role: 'user',\n      content: `Analysiere diese einzelne Dokumentseite.\n\nAufgaben:\n1. Erkenne den vollständigen sichtbaren Text.\n2. Erhalte Überschriften, Absätze und Listen.\n3. Gib erkannte Tabellen als Markdown-Tabellen zurück.\n4. Beschreibe die Dokumentstruktur.\n5. Erfinde keine Inhalte.\n6. Markiere tatsächlich unlesbare Stellen mit [unlesbar].\n7. Wiederhole keine Inhalte unnötig.\n\nAntworte ausschließlich als gültiges JSON in dieser Struktur:\n\n{\n  \"text_markdown\": \"...\",\n  \"tables_markdown\": [],\n  \"document_structure\": [],\n  \"figures\": [],\n  \"warnings\": []\n}`,\n      images: [$json.image_base64]\n    }\n  ]\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2736,
        464
      ],
      "id": "NODE_ID_GLM_OCR_SEITE_ANALYSIEREN_PLACEHOLDER",
      "name": "GLM-OCR Seite analysieren"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ASSIGNMENT_ID_DOCUMENT_ID_PLACEHOLDER",
              "name": "document_id",
              "value": "={{ $('Base64-Metadaten ergänzen').item.json.document_id }}",
              "type": "number"
            },
            {
              "id": "ASSIGNMENT_ID_TITLE_PLACEHOLDER",
              "name": "title",
              "value": "={{ $('Base64-Metadaten ergänzen').item.json.title }}",
              "type": "string"
            },
            {
              "id": "ASSIGNMENT_ID_ORIGINAL_FILE_NAME_PLACEHOLDER",
              "name": "original_file_name",
              "value": "={{ $('Base64-Metadaten ergänzen').item.json.original_file_name }}",
              "type": "string"
            },
            {
              "id": "ASSIGNMENT_ID_ORIGINAL_CONTENT_PLACEHOLDER",
              "name": "original_content",
              "value": "={{ $('Base64-Metadaten ergänzen').item.json.original_content }}",
              "type": "string"
            },
            {
              "id": "ASSIGNMENT_ID_ORIGINAL_CUSTOM_FIELDS_PLACEHOLDER",
              "name": "original_custom_fields",
              "value": "={{ $('Base64-Metadaten ergänzen').item.json.original_custom_fields }}",
              "type": "array"
            },
            {
              "id": "ASSIGNMENT_ID_PAGE_NUMBER_PLACEHOLDER",
              "name": "page_number",
              "value": "={{ $('Base64-Metadaten ergänzen').item.json.page_number }}",
              "type": "number"
            },
            {
              "id": "ASSIGNMENT_ID_PAGE_FILE_NAME_PLACEHOLDER",
              "name": "page_file_name",
              "value": "={{ $('Base64-Metadaten ergänzen').item.json.page_file_name }}",
              "type": "string"
            },
            {
              "id": "ASSIGNMENT_ID_IMAGE_BASE64_PLACEHOLDER",
              "name": "image_base64",
              "value": "={{ $('Base64-Metadaten ergänzen').item.json.image_base64 }}",
              "type": "string"
            },
            {
              "id": "ASSIGNMENT_ID_GLM_RAW_PLACEHOLDER",
              "name": "glm_raw",
              "value": "={{ $json.message?.content ?? '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2880,
        352
      ],
      "id": "NODE_ID_GLM_ERGEBNIS_VORBEREITEN_PLACEHOLDER",
      "name": "GLM-Ergebnis vorbereiten"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_OLLAMA_HOST:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  model: 'qwen3-vl:4b',\n  stream: false,\n  keep_alive: 0,\n  options: {\n    temperature: 0\n  },\n  messages: [\n    {\n      role: 'user',\n      content: `Analysiere ausschließlich die wichtigen visuellen Informationen dieser Dokumentseite.\n\nErkenne:\n- Logos und Symbole\n- Stempel\n- Unterschriften\n- handschriftliche Ergänzungen\n- Fotos, Abbildungen und Diagramme\n- markierte oder durchgestrichene Stellen\n- wichtige Layout-Hinweise\n\nRegeln:\n- Wiederhole den normalen Fließtext nicht unnötig.\n- Erfinde keine Informationen.\n- Leere Kategorien bleiben leere Arrays.\n- Gib ausschließlich gültiges JSON zurück.\n\nAntwortstruktur:\n\n{\n  \"symbols\": [],\n  \"stamps\": [],\n  \"signatures\": [],\n  \"handwriting\": [],\n  \"images\": [],\n  \"visual_notes\": [],\n  \"warnings\": []\n}`,\n      images: [$json.image_base64]\n    }\n  ]\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3040,
        464
      ],
      "id": "NODE_ID_QWEN_VISUELLE_ANALYSE_PLACEHOLDER",
      "name": "Qwen visuelle Analyse"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract ID": {
      "main": [
        [
          {
            "node": "Dokumentdaten holen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Datei laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dokumentdaten holen": {
      "main": [
        [
          {
            "node": "Dokumentdaten und Datei zusammenführen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datei laden": {
      "main": [
        [
          {
            "node": "Dokumentdaten und Datei zusammenführen",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Dokumentdaten und Datei zusammenführen": {
      "main": [
        [
          {
            "node": "PDF temporär speichern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF temporär speichern": {
      "main": [
        [
          {
            "node": "PDF in PNG-Seiten umwandeln",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF in PNG-Seiten umwandeln": {
      "main": [
        [
          {
            "node": "PNG-Seiten laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PNG-Seiten laden": {
      "main": [
        [
          {
            "node": "Seitenmetadaten ergänzen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seitenmetadaten ergänzen": {
      "main": [
        [
          {
            "node": "Seiten sortieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seiten sortieren": {
      "main": [
        [
          {
            "node": "Seiten einzeln verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seiten einzeln verarbeiten": {
      "main": [
        [],
        [
          {
            "node": "Seitenbild zu Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seitenbild zu Base64": {
      "main": [
        [
          {
            "node": "Base64-Metadaten ergänzen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64-Metadaten ergänzen": {
      "main": [
        [
          {
            "node": "GLM-OCR Seite analysieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GLM-OCR Seite analysieren": {
      "main": [
        [
          {
            "node": "GLM-Ergebnis vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GLM-Ergebnis vorbereiten": {
      "main": [
        [
          {
            "node": "Qwen visuelle Analyse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qwen visuelle Analyse": {
      "main": [
        [
          {
            "node": "Seiten einzeln verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "VERSION_ID_PLACEHOLDER",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "N8N_INSTANCE_ID_PLACEHOLDER"
  },
  "nodeGroups": [],
  "id": "WORKFLOW_ID_PLACEHOLDER",
  "tags": []
}